form
  label, p
    margin: 0
    padding: 0
  label
    user-select: none
input[type="checkbox"], form label
  cursor: pointer
  margin: 0
  vertical-align: middle
.form_row:not(:last-of-type)
  border-bottom: 1px dashed orange
  margin-bottom: 4px
  padding: 10px 0
.field_with_error, .errorlist > li
  color: red
  font-weight: bold
form select
  height: 24px
form p, form ul
  margin: 0
form label
  padding: 0 4px
form select
  cursor: pointer
.errorlist
  margin: 0
