@charset "utf-8"
// НЕОБХОДИМО ПЕРЕКОМПИЛИРОВАТЬ ДАННЫЙ ФАЙЛ ПРИ ИЗМЕНЕНИЯХ В common_form_elements.sass
@import common_form_elements

.pagination
  margin: 10px 0 0 0
  padding: 0
  li:not(.active) *
    color: #337ab7
