@charset "utf-8"
// НЕОБХОДИМО ПЕРЕКОМПИЛИРОВАТЬ ДАННЫЙ ФАЙЛ ПРИ ИЗМЕНЕНИЯХ В common_form_elements.sass
@import common_form_elements

.content
  min-height: 740px
  min-width: 365px
  .question
    margin: 10px 0
    position: relative
    padding: 5px 10px
    border-left: 15px groove gray
    border-bottom: 2px solid gray
    border-top: 2px solid gray
    border-right: 2px solid gray
    border-radius: 10px
    .closed_question_options_div, .sequence_elements_div, .comparing_elements_div
      padding: 8px 8px 8px 15px
      border-top: 1px dashed orange
    .comparing_elements_div
      .left_row, .right_row
        width: 50%
        margin-right: -5px

    .question_buttons
      top: 5px
      right: 5px
      float: right
      user-select: none
      text-align: right
      .glyphicon
        transition: all ease 0.5s
        color: #333333
        font-size: 35px
        cursor: pointer
      .glyphicon:hover
        transition: all ease 0.2s
        color: darkorange
      .dropdown
        .dropdown-menu
          padding: 10px
          width: 800px
          top: 40px
          right: 0
          left: auto
        .edit_closed_question_block
          .inline_block
            width: 45%
            vertical-align: middle
          .inline_block:nth-of-type(3)
            padding-left: 20px
          hr
            margin: 2px 0
        .edit_open_question_block
          width: 950px
          .ckeditor_widget
            display: inline-block
            width: 461px

  .adding_questions_btns
    min-width: 302px
    margin: 0
    width: auto
    text-align: center
    .dropdown.inline_block
      width: 48%
      .dropdown-menu
        padding: 5px
        input[type="submit"]
          margin: 2px 0 0 0
        input[type="checkbox"] + label
          cursor: pointer
          display: inline
        input[type="text"], input[type="number"]
          width: 100%
      .btn:not(input)
        width: 100%
    .dropdown.inline_block.add_open_question_block
      .dropdown-menu
        left: 0
    .dropdown.inline_block.add_closed_question_block
      .dropdown-menu
        left: 0
      .inline_block
        padding-left: 10px
        width: 45%
        vertical-align: middle
    .dropdown.inline_block.add_comparison_question_block
      .dropdown-menu
        left: 0
    .dropdown.inline_block.add_sequence_question_block
      .dropdown-menu
        left: 0

@media(min-width:0px) and (max-width:767px)
  .content
    min-height: 1000px
    .adding_questions_btns
      .dropdown.inline_block
        width: 100%
        .dropdown-menu
          padding: 5px
        .btn:not(input)
          font-size: 14px
          padding: 5px
          margin-left: 0
      .dropdown.inline_block.add_open_question_block
        left: 0
        .dropdown-menu
          .ckeditor_widget
            display: block
            width: auto

    .question
      .question_buttons
        .dropdown
          .dropdown-menu
            width: 365px
            right: -55px
          .edit_open_question_block
            .ckeditor_widget
              display: block
              width: auto

@media(min-width:768px) and (max-width:991px)
  .content
    .question
      .question_buttons
        .dropdown
          .dropdown-menu
            width: 650px
          .edit_open_question_block
            .ckeditor_widget
              display: block
              width: auto

@media(min-width:992px)
  .content
    .adding_questions_btns
      .dropdown.inline_block.add_open_question_block
        .dropdown-menu
          right: 0
          left: auto
          width: 940px
          .ckeditor_widget
            display: inline-block
            width: 461px
    .question
      .question_buttons
        .dropdown
          .dropdown-menu
            width: 910px
            right: 0
          .edit_open_question_block
            .ckeditor_widget
              display: inline-block
              width: 441px