@charset "utf-8"

.content
  .name_of_test
    margin-left: 8px
    border-bottom: 1px dashed #bbbbbb

  .name_of_test.ready_test
    color: #118811

  .link_to_test
    cursor: pointer

  .link_to_test:hover .name_of_test
    transition: all ease 0.2s
    color: orange
    border-bottom: 1px dashed orange

  .link_to_test:hover strong, .link_to_test:hover q
    transition: all ease 0.2s
    color: orange
    border-color: orange  

  .remove_test_icon:hover, .edit_test_icon:hover
    transition: all ease 0.2s  
    color: orange

  .test_div::after
    content: ""
    height: 2px
    display: block
    border-bottom: 1px solid #555555
    margin: 4px 6px 4px 0
    box-shadow: 1px 1px 2px 1px gray
    