@charset "utf-8"
// НЕОБХОДИМО ПЕРЕКОМПИЛИРОВАТЬ ДАННЫЙ ФАЙЛ ПРИ ИЗМЕНЕНИЯХ В single_question.sass
@import single_question

.placeholder_for_sorting
  border: 1px ivory dashed
  width: 100%
  height: 27px
  margin: 0
  background-color: yellow
  border-radius: 10px
  margin: 5px 0

.content
  div.passing_area
    padding: 0 15px 30px 15px
    border: 2px solid orange
    border-radius: 10px
  .hidden_form_element
    visibility: hidden
    position: fixed
    // top: 105px
    // left: 5px
  #timer_input
    width: 50px
  #timer_block
    position: fixed
    top: 105px
    left: 5px
  #fail_reason
    // top: 195px
    width: 95px
  .question:hover
    transition: all ease 0.5s
    box-shadow: 1px 1px 1px 1px darkgray
  .question
    transition: all ease 0.5s
    user-select: none
    padding-bottom: 8px
    .sequence_elements_div .option_or_element:hover
      font-weight: bold
    .comparing_elements_div
      .sortContainer .option_or_element
        cursor: pointer
      .sortContainer .option_or_element:hover
        font-weight: bold
      .row
        padding: 0 8px
      input[type="text"]
        width: 100%
    .sequence_elements_div .option_or_element
      cursor: pointer
      border: none
      border-bottom: 1px dashed gray
    .sequence_elements_div ~ input[type="text"]
      width: 100%
    .sequence_elements_div, .comparing_elements_div
      padding: 0
    .closed_question_options_div
      padding: 0
      .option_or_element
        padding: 0
        margin: 0
    .option_or_element
      white-space: nowrap
      padding: 3px
      margin: 5px 0
    label
      padding: 4px
      font-weight: normal
      transition: all ease 0.4s
    label, input[type="radio"]
      cursor: pointer
      width: 100%
    input[type="text"]
      width: auto
      display: inline-block
    input[type="radio"], input[type="checkbox"]
      display: none
    input[type="radio"] + label::before, input[type="checkbox"] + label::before
      content: "\2713"
      font-size: 30px
      transition: all ease 0.5s
      vertical-align: middle
      display: inline-block
      font-weight: bolder
      margin-top: -18px
      padding: 0
      opacity: 0
      height: 22px
      width: 22px
    input[type="radio"]:checked + label::before, input[type="checkbox"]:checked + label::before
      transition: all ease 0.5s
      opacity: 1
    input[type="radio"]:checked + label, input[type="checkbox"]:checked + label
      transition: all ease 0.4s
      font-weight: bold
      background-color: yellow
    input[type="radio"]:not(:checked) + label:hover, input[type="checkbox"]:not(:checked) + label:hover
      background-color: lighten(gray, 40%)
