@charset "utf-8"
// НЕОБХОДИМО ПЕРЕКОМПИЛИРОВАТЬ ДАННЫЙ ФАЙЛ ПРИ ИЗМЕНЕНИЯХ В custom_thumbnail.sass
@import custom_thumbnail
$comment_padding: 10px

.content
  p
    margin-bottom: 0
  hr
    margin: 8px 0
  div.dropdown:not(.new_comment_dropdown)
    display: inline-block
  div.test_block
    border: 2px ridge #aaaaaa
    border-radius: 20px
    padding: 10px 30px 10px 20px
    box-shadow: 4px 4px 6px 1px gray
    background-color: ivory
  .dropdown-menu:not(.new_comment_dropdown_menu)
    padding: 12px
    width: 418px
    .btn
      margin: 1px
      margin-right: -3px
      width: 50%
  div.test_description_element
    border-left: 4px solid gray
    border-bottom: 1px solid gray
    margin-bottom: 2px
    padding: 4px 8px
    display: inline-block
    .voting_btn
      margin: 0
      width: 48%
      padding: 4px
  div.test_description_element_with_buttons
    padding: 0 2px 2px 2px
    text-align: center
    .start_passing_btn
      margin: 0
      padding: 4px
      width: 100%
  span.badge
    margin: 2px
    transition: all ease 0.2s
    border: 1px solid #aaaaaa
    position: relative
    padding-left: 22px
    overflow: hidden
    box-shadow: 1px 1px 1px 1px gray
    background-color: yellow
    color: black
    span.bullet
      position: absolute
      top: -3px
      left: 5px
      font-size: 26px
  a.tag_or_category:hover .badge
    font-weight: bold
    background-color: lighten(yellow, 20%)
    transition: all ease 0.2s
    transform: scale(1.05)
    box-shadow: 2px 2px 2px 2px gray
  .new_comment_dropdown
    .new_comment_dropdown_menu
      top: -285px
      width: 100%
      text-align: center
      padding: 4px 6px 3px 4px
  .comment
    margin: 10px 0
    padding: 32px $comment_padding $comment_padding + 5px $comment_padding
    position: relative
    border: 1px solid gray
    box-shadow: 2px 2px 2px 2px gray
    border-radius: 10px
    min-height: $full_width_of_resized_avatar + $comment_padding * 2
    .author_username, .comment_date
      position: absolute
    .author_username
      top: $comment_padding
      left: $full_width_of_resized_avatar + 38px
      font-weight: bold
    .author_avatar
      min-height: $full_width_of_resized_avatar
      min-width: $full_width_of_resized_avatar
      float: left
      margin: -25px 8px 0 0
    .comment_date
      color: #555555
      bottom: 0
      right: 14px
    .comment_content
      padding: 0 4px 0 4px

/*============    	АДАПТИВ    ===========*/

@media(min-width:0px) and (max-width:410px)
  .content .comment
    padding-top: 50px

@media(min-width:0px) and (max-width:767px)
  .test_description_element
    margin: 0
    width: 100%
  .content
    h2
      font-size: 20px
    h3
      font-size: 18px
    .dropdown-menu:not(.new_comment_dropdown_menu)
      width: 310px
      .btn
        width: 100%

@media(min-width:768px) and (max-width:1199px)
  .test_description_element
    margin: 0  
    width: 50%
    margin-right: 4px
  .test_description_element:nth-of-type(2n)
    margin-right: -10px

@media(min-width:1200px)
  .test_description_element
    margin: 0  
    width: 25%
    margin-right: 4px
  .test_description_element:nth-of-type(4n)
    margin-right: -25px
  .content
    div.test_block
      padding-right: 45px
