astroid==1.5.2
colorama==0.3.8
dj-database-url==0.4.2
Django==1.11
django-appconf==1.0.2
django-avatar==3.1.0
django-ckeditor==5.2.2
django-registration==2.2
gunicorn==19.7.1
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.6.1
olefile==0.44
Pillow==4.1.0
psycopg2==2.6.2
pylint==1.7.1
pytz==2017.2
six==1.10.0
whitenoise==3.3.0
wrapt==1.10.10
