{% extends "octapp/base.html" %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<h1>Регистрация нового пользователя</h1>
<p></p>
<form method="post" action="">
{% csrf_token %}
    <div class="form_field">
        <p>{{ form.username.label_tag }} {{ form.username }}</p>
        {% if form.username.help_text %}<p>Пояснение: {% filter lower %}{{ form.username.help_text|safe }}{% endfilter %}</p>{% endif %}
        {% if form.username.errors %}<p class="error">Ошибка: {{ form.username.errors }}</p>{% endif %}
    </div>

    <div class="form_field">
        <p>{{ form.email.label_tag }} {{ form.email }}</p>
        {% if form.email.help_text %}<p>Пояснение: {% filter lower %}{{ form.email.help_text|safe }}{% endfilter %}</p>{% endif %}
        {% if form.email.errors %}<p class="error">Ошибка: {{ form.email.errors }}</p>{% endif %}
    </div>

    <div class="form_field">
        <p>{{ form.password1.label_tag }} {{ form.password1 }}</p>
        {% if form.password1.help_text %}<p>Пояснения: {{ form.password1.help_text|safe }}</p>{% endif %}
        {% if form.password1.errors %}<p class="error">Ошибка: {{ form.password1.errors }}</p>{% endif %}
    </div>

    <div class="form_field">
        <p>{{ form.password2.label_tag }} {{ form.password2 }}</p>
        {% if form.password2.help_text %}<p>Пояснение: {% filter lower %}{{ form.password2.help_text|safe }}{% endfilter %}</p>{% endif %}
        {% if form.password2.errors %}<p class="error">Ошибка: {{ form.password2.errors }}</p>{% endif %}
    </div>

    СОГЛАШЕНИЕ ПОЛЬЗОВАТЕЛЯ И ПРАВИЛА ИСПОЛЬЗОВАНИЯ СИСТЕМЫ (САЙТА) [здесь следует выводить содержимое текстового файла с этими данными, пока не разобрался как это сделать]

    <div class="form_field">
        <p>{{ form.tos.label_tag }} {{ form.tos }}</p>
        {% if form.tos.help_text %}<p>Пояснение: {% filter lower %}{{ form.tos.help_text|safe }}{% endfilter %}</p>{% endif %}
        {% if form.tos.errors %}<p class="error">Ошибка: {{ form.tos.errors }}</p>{% endif %}
    </div>
    <input type="submit" class="btn btn-block btn-default btn-lg" value="Зарегистрироваться" / class="clearfix">
</form>
{% endblock %}





