{% extends "octapp/base.html" %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/register.css' %}">
{% endblock %}

{% block content %}
<h1>Регистрация нового пользователя</h1>
<form method="post" action="{% url 'registration_register' %}">
{% csrf_token %}
    <div class="form_row">
        <p>{{ form.username.label_tag }} {{ form.username }}</p>
        {% if form.username.help_text %}<p>Пояснение: {% filter lower %}{{ form.username.help_text|safe }}{% endfilter %}</p>{% endif %}
        {% if form.username.errors %}<p class="field_with_error">Ошибка/ошибки: {{ form.username.errors }}</p>{% endif %}
    </div>

    <div class="form_row">
        <p>{{ form.email.label_tag }} {{ form.email }}</p>
        {% if form.email.help_text %}<p>Пояснение: {% filter lower %}{{ form.email.help_text|safe }}{% endfilter %}</p>{% endif %}
        {% if form.email.errors %}<p class="field_with_error">Ошибка/ошибки: {{ form.email.errors }}</p>{% endif %}
    </div>

    <div class="form_row">
        <p>{{ form.password1.label_tag }} {{ form.password1 }}</p>
        {% if form.password1.help_text %}<p>Пояснения: {{ form.password1.help_text|safe }}</p>{% endif %}
        {% if form.password1.errors %}<p class="field_with_error">Ошибка/ошибки: {{ form.password1.errors }}</p>{% endif %}
    </div>

    <div class="form_row">
        <p>{{ form.password2.label_tag }} {{ form.password2 }}</p>
        {% if form.password2.help_text %}<p>Пояснение: {% filter lower %}{{ form.password2.help_text|safe }}{% endfilter %}</p>{% endif %}
        {% if form.password2.errors %}<p class="field_with_error">Ошибка/ошибки: {{ form.password2.errors }}</p>{% endif %}
    </div>
<h3>Пользовательское соглашение и правила работы с системой</h3>
<p>Используя систему OnlineCustomTesting (далее Сайт), Вы подтверждаете, что прочитали, поняли и согласны соблюдать настоящее Соглашение об использовании (далее - Соглашение). Администрация Сайта (далее - Администрация) оставляет за собой право изменять и дополнять настоящее Соглашение в любое время без предварительного и/или последующего уведомления Пользователя. Администрация публикует изменения и дополнения в Соглашении на данной странице, Вы обязуетесь самостоятельно следить за изменениями и дополнениями, вносимыми Администрацией в Соглашение.</p>
<p>В случае Вашего несогласия с условиями, указанными в нижеприведенных пунктах, Вы должны немедленно отказаться от использования этого веб-сайта и покинуть его страницы.</p>
<p>Администрация сайта не несет никакой ответственности за размещение пользователями материалов экстремистского характера, материалов, разжигающих межнациональную и межрелигиозную ненависть, оскорбляющих чувства верующих.</p>
<p>Пользователь самостоятельно несет ответственность за соответствие содержания размещаемых Пользователем тестов, файлов и любой другой информации (далее Контент) на Сайте требованиям действующего законодательства, включая ответственность перед третьими лицами в случаях, когда размещение Пользователем того или иного контента или содержание контента нарушает права и законные интересы третьих лиц.</p>
<p>Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия, связанные с использованием сервисов, в том числе, если такие действия приведут к нарушению прав и законных интересов третьих лиц, а также за соблюдение законодательства при использовании сервисов.</p>
<p>Кроме своего собственного Контента, Пользователь не вправе загружать Контент других сайтов, баз данных и прочих объектов исключительных прав при отсутствии явным образом выраженного согласия правообладателя на такие действия.</p>
<p>Сайт и все сервисы Сайта, предоставляются "Как есть", Вы используете службы Сайта на Ваш собственный риск. Администрация не принимает на себя никакой ответственности, в том числе и за соответствие наших сервисов целям конечного Пользователя.</p>
<p>Администрация не несет ответственности за любые прямые или косвенные убытки, ущерб компьютеру пользователя или иного лица произошедшие из-за использования либо невозможности использования Сайта.</p>
<p>Администрация не гарантирует, что сервисы и доступ к Сайту будут предоставляться непрерывно, быстро, надежно и без ошибок.</p>
<p>Вы обязуетесь не размещать на сайте материалы, которые принадлежат перечисленным ниже категориям:</p>
<ul>
    <li>Расизм</li>
    <li>Материалы 18+</li>
    <li>Материалы о наркотических веществах</li>
    <li>Материалы об изготовлении оружия</li>
    <li>Материалы, пропагандирующие расовую, религиозную, национальную или иную ненависть.</li>
    <li>Материалы, оскорбляющие религиозные чувства.</li>
</ul>
    <div class="form_row">
        <p>{{ form.tos }}<label for="id_tos">Я прочитал(а) и принимаю пользовательское соглашение и правила работы с системой.</label></p>
        {% if form.tos.help_text %}<p>Пояснение: {% filter lower %}{{ form.tos.help_text|safe }}{% endfilter %}</p>{% endif %}
        {% if form.tos.errors %}<p class="field_with_error">Ошибка/ошибки: {{ form.tos.errors }}</p>{% endif %}
    </div>

<h3>Инструкция пользователя</h3>
<h4>Рекомендации по составлению тестов:</h4>
<p>Данные рекомендации должны отображаться для каждого пользователя при регистрации в системе и быть доступны из меню для любого пользователя.
При составлении тестовых заданий следует учесть, что в случае, если тестируемый не знает правильный ответ, то он будет [1]:
<ul>
    <li>склоняться к более подробным и обоснованным ответам, в которых учитываются частные случае, избегая менее подробных.</li>
    <li>при наличии какой-либо последовательности в вариантах ответа, вполне возможно, что тестируемый будет предполагать, что правильный ответ где-то в центре последовательности;</li>
    <li>выбирать ответы, содержащие сложные термины, малоизвестные или иностранные слова;</li>
    <li>выбирать ответы, которые по своему стилю написания напоминают что-то знакомое, что ассоциируется с уже известной частью темы теста.</li>
</ul>
Также следует принять во внимание следующие рекомендации и советы по составлению тестов [2, с. 10-12; 3]:
<ol>
    <li>четко и ясно формулируйте тестовое задание, чтобы оно было ориентировано на получение однозначного заключения</li>
    <li>старайтесь формулировать задание в виде одного легко воспринимаемого предложения из 5-20 слов, без оборотов, в котором используются простые придаточные предложения</li>
    <li>задание должно проверять определенное, конкретное знание</li>
    <li>задание должно быть информативным</li>
    <li>избегайте использования в заданиях так называемых «нестрогих» слов, таких как: иногда, часто, всегда, все, никогда, большой, небольшой, малый, много, меньше, больше, и грамматических оборотов типа «Почему не может не…», «Правда ли, что…», «Возможно ли…» и других</li>
    <li>стройте ответы примерно одинаковой формы и длины, если это возможно</li>
    <li>сортируйте количественные ответы и не указывайте первым вариантом правильный ответ</li>
    <li>старайтесь исключить возможность выбора ответа при помощи интуиции</li>
    <li>старайтесь делать ответы одинаково привлекательными для выбора</li>
    <li>не используйте в заданиях сокращения, знание которых не требуется в задании</li>
    <li>если в ответах присутствуют повторяющиеся слова и словосочетания, то перенесите их в основную часть условия задания</li>
    <li>избегайте возможности получения ответа из ответа к другому заданию</li>
    <li>сортируйте задания по возрастанию уровня сложности</li>
    <li>содержание теста должно быть комплексным и иметь системный характер</li>
    <li>содержание и формы представления тестовых заданий должны быть взаимосвязаны</li>
    <li>содержание теста должно однозначно определять уровень знаний обучаемых</li>
    <li>содержание теста должно соответствовать современному уровню развития той или иной области науки.</li>
</ol>
<h4>Рекомендации по прохождению тестов [2, с. 15-16]</h4>
<ul>
    <li>ориентируйтесь на собственный разумный уровень подготовки при выборе тестов.</li>
    <li>анализируйте свои результаты и соответственным образом корректируйте процесс обучения/самообучения.</li>
    <li>используйте качественные источники при самообучении.</li>
    <li>при желании сообщайте в комментариях к какому-либо тесту о замеченных в нем ошибках.</li>
</ul>
</p>
<small><h4>Источники:</h4>
<ol>
<li>Достоинства и недостатки тестирования [Электронный ресурс] // Сайт о проблемах использования тестов в учебном процессе. – Режим доступа: http://testobr.narod.ru/4.htm. – (дата обращения: 07.02.2017).</li>
<li>Казиев В.М. Введение в практическое тестирование [Электронный ресурс] // В.М. Казиев // Электронно-библиотечная система BOOK.ru. – М.: Национальный Открытый Университет «ИНТУИТ», 2016. – Режим доступа: https://www.book.ru/book/917642/view/2. – (дата обращения: 06.02.2017).</li>
<li>Ларин С.Н., Малков У.Х. Современные подходы к моделированию тестов: система требований, преимущества и  недостатки, основные этапы разработки [Электронный ресурс] // С.Н. Ларин, У.Х. Малков // Интернет-журнал «Мир науки» 2016, Том 4, номер 1. – Режим доступа: http://mir-nauki.com/PDF/04PDMN116.pdf (доступ свободный). – Загл. с экрана. – (дата обращения: 08.02.2017).</li>
</small>
</ol>
    <div class="form_row">
        <p>{{ form.user_manual }}<label for="id_user_manual">Я прочитал(а) инструкцию пользователя.</label></p>
        {% if form.user_manual.help_text %}<p>Пояснение: {% filter lower %}{{ form.user_manual.help_text|safe }}{% endfilter %}</p>{% endif %}
        {% if form.user_manual.errors %}<p class="field_with_error">Ошибка/ошибки: {{ form.user_manual.errors }}</p>{% endif %}
    </div>

    <input type="submit" class="btn btn-block btn-default btn-lg" value="Зарегистрироваться" class="clearfix">
</form>
{% endblock %}





