@charset "utf-8"

/*============    СБРОС СВОЙСТВ    ===========*/
*
  margin: 0
  padding: 0
  color: black
  text-decoration: none
  list-style: none

a:hover, a:active, a:visited, a:link
  text-decoration: none
  color: black

/*============    ШРИФТЫ    ===========*/
* 
  font-family: 'Neucha', sans-serif

h1, h2, h3, h4, h5, h6, .title-font
  font-family: 'Neucha', serif

.mono-font
  font-family: 'Roboto Mono', monospace

/*============    ПРИМЕСИ    ===========*/
@mixin abs_decor($radius)
  position: absolute
  top: 0
  left: 0

@mixin color_of_background($color)
  background-color: $color

@mixin simple_border($color)
  border: 2px solid $color

/*============    ЗАГОЛОВКИ    ===========*/
h1, h2, h3, h4, h5, h6
  text-align: center
  margin-top: 2px

/*============    ДЛЯ РАЗНЫХ ЭЛЕМЕНТОВ    ===========*/
.table
  display: table
  margin: 0
  padding: 0
  border-spacing: 0
  .table_row
    display: table-row
  .table_cell
    display: table-cell
  .wide_cell
    width: auto

.underscore
  text-decoration: underline

.flex
  display: flex
  flex-wrap: wrap

/*============    КНОПКИ    ===========*/
.btn
  padding: 5px
  margin: 2px


/*============    ШАПКА    ===========*/
$avatar_width: 90px
$avatar_height: 90px
header
  min-width: 400px
  border-radius: 0 0 10px 10px
  border: 2px solid gray
  box-shadow: 2px 4px 8px 2px #777777
  background-color: ivory
  .row
    padding: 0
  .header_element
    padding: 0 4px
    margin: 0
    // background-color: rgba(0, 0, 0, 0.1)
  .header_element_1
    h2
      margin-bottom: 2px
    p
      font-size: 140%
  .header_element_2
    h3
      margin: 5px 0 0 0
    input[type=search]
      width: 100%
      min-width: 200px
    .search_buttons_div
      padding: 5px
      min-width: 200px
      .table_cell:first-child, .table_cell:last-child
        color: red
        width: 42%
        margin: 2px
        .btn
          width: 100%
      .empty_gap_cell
        width: 6%

  .header_element_3
    img
      width: $avatar_width
      height: $avatar_height
      margin: 0
    .user_container
      width: auto
      .avatar_container
        width: $avatar_width
      
  .header_element_4
    .all_buttons_container
      padding: 2px
      .system_users_button_container
        margin: 2px
        margin-top: 0
    .table
      background-color: ivory
      margin: 0
      border-spacing: 2px
    .table_cell
      input
        width: 100%
      label
        margin-top: 0
        margin-bottom: 0
    .table_cell:nth-of-type(1)
      width: 50%
    .table_cell:nth-of-type(2)
      width: 50%
    .btn
      width: 100%
      margin: 0

/*============    КОНТЕНТ    ===========*/
.test-list
  .test
    border: 2px solid orange
    border-radius: 10px

/*============    ПОДВАЛ    ===========*/

/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/


/*============    	АДАПТИВ    ===========*/

@media(min-width:0px) and (max-width:759px)
  .header_element
    border-style: none
  .header_element_2
    border-bottom: 1px dashed gray
  .header_element_3
    border-right: 1px dashed gray

@media(min-width:760px) and (max-width:992px)
  .header_element
    border-style: none
  .header_element_1
    border-bottom: 1px dashed gray
    border-right: 1px dashed gray
  .header_element_2
    border-bottom: 1px dashed gray
  .header_element_3
    border-right: 1px dashed gray

@media(min-width:993px) and (max-width:1200px)
  .header
    position: fixed
  .header_element
    border-style: none
  .header_element:not(:last-of-type)
    border-right: 1px dashed gray

@media(min-width:1200px)
  .header
    position: fixed
  .header_element
    border-style: none
  .header_element:not(:last-of-type)
    border-right: 1px dashed gray
