{% extends "octapp/base.html" %}
{% load avatar_tags staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/change_avatar.css' %}">
{% endblock %}

{% block content %}
    <div class="flex">
        <div class="default_cursor">
            <p>Ваша аватарка на данный момент:</p>
    {% avatar user class="scaled_custom_thumbnail_with_def_cur center-block" %}
    {% if not avatars %}
            <p>Вы еще не загружали аватарки.<br>Пожалуйста, загрузите одну или несколько.</br>
    {% endif %}
            </p>
        </div>

    {% if avatars %}
        <div class="loaded_avatars">
        <p class="text-center">Выбрать из уже загруженных аватарок:</p> 
        <form method="POST" action="{% url 'avatar_change' %}">
        {% csrf_token %}
            {{ primary_avatar_form.choice }}
            <input type="submit" class="btn btn-block btn-default" value="Сменить аватарку на выбранную">
        </form>
        </div>
    {% endif %}

        <div>
        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
{% csrf_token %}
            <p>Загрузить новое изображение для новой аватарки:</p>
{{ upload_avatar_form.avatar }}
            <label class="btn btn-block btn-default" for="id_avatar">Выбрать файл</label>
            <input type="submit" class="btn btn-block btn-default" value="Загрузить выбранный файл">
            <a href="{% url 'avatar_delete' %}" class="btn btn-block btn-default">Удаление аватарок</a>
        </form>
        </div>
    </div>
{% endblock %}
