{% extends "octapp/base.html" %}
{% load i18n avatar_tags %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'css/change_avatar.css' %}">
{% endblock %}

{% block content %}
    <div class="flex">
        <div>
            <p>Ваша аватарка<br>на данный момент:</p>
    {% avatar user class="scaled_custom_thumbnail" %}
    {% if not avatars %}
            <p>Вы еще не загружали аватарки. Пожалуйста, загрузите одну или несколько.</p>    
    {% endif %}
        </div>

    {% if avatars %}
        <div class="loaded_avatars">
        <p class="text-center">Выбор из уже загруженных аватарок</p> 
        <form method="POST" action="{% url 'avatar_change' %}">
        {% csrf_token %}
            {{ primary_avatar_form.choice }}
            <input type="submit" class="btn btn-block btn-default" value="Сменить аватарку на выбранную">
        </form>
        </div>
    {% endif %}

        <div>
        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
{% csrf_token %}
            <p>Или загрузите новое изображение для новой аватарки</p>
{{ upload_avatar_form.avatar }}
            <label class="btn btn-block btn-default" for="id_avatar">Выбрать файл</label>
            <input type="submit" class="btn btn-block btn-default" value="Загрузить выбранный файл">
            <a href="{% url 'avatar_delete' %}" class="btn btn-block btn-default">Удаление аватарок</a>
        </form>
        </div>
    </div>
{% endblock %}
