{% extends "octapp/base.html" %}
{% load avatar_tags staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/delete_avatar.css' %}">
{% endblock %}

{% block content %}
    <h2>Выберите аватарки, которые вы хотели бы удалить</h2>
    {% if not avatars %}
        {% url 'avatar_change' as avatar_change_url %}
        <p>У вас нет аватарок для удаления. <a href="{{ avatar_change_url }}">Загрузите одну или несколько аватарок.</a></p>
    {% else %}
        <form method="POST" action="{% url 'avatar_delete' %}">
{{ delete_avatar_form.choices }}
            <p>{% csrf_token %}<input type="submit" class="btn btn-block btn-lg btn-danger" value="Удалить выбранные аватарки" /></p>
        </form>
    {% endif %}
{% endblock %}
