{% extends 'octapp/base.html' %}

{% block title %}
<title>OnlineCustomTesting: о проекте</title>
<style type="text/css">
    .content p {margin-bottom: 8px !important}
</style>
{% endblock %}

{% block content %}
<h3>О ПРОЕКТЕ</h3>
<p>Проект OnlineCustomTesting — выпускная квалификационная работа Челтыгмашева Данила, студента группы М-22 Хакасского государственного университета им. Н.Ф. Катанова.</p>
<p>Система (сайт) позволяет добавлять образовательные тесты различной тематики, присваивая им категорию и теги. Для тестов доступно 4 вида вопросов: закрытого типа, открытого типа, на упорядочение (сортировку) элементов, на сопоставление элементов. При этом в одном тесте можно использовать все 4 вида вопросов. Присутствует возможность поделиться ссылкой на тест в facebook, twitter, google+ и Вконтакте.</p>
<p>Необходимо зарегистрироваться на сайте, чтобы добавлять новые тесты, оставлять комментарии к тестам и сохранять результаты прохождения тестов.</p>
<p>Возможно установить для теста ограничение на время прохождения и контроль прохождения, который включает в себя отслеживание курсора мыши и нажатий клавиш.</p>
<p>Список всех тестов можно найти, щелкнув на главной странице сайта по заголовку «НОВЫЕ ТЕСТЫ» либо «РЕЙТИНГОВЫЕ ТЕСТЫ». Аналогично можно попасть на страницу со списком категорий либо на страницу со списком тегов.</p>
<p>Список тестов текущего (авторизованного) пользователя можно открыть по кнопке «Ваши тесты», которая располагается в заголовке сайта.</p>
<p>Пользователи сайта не увидят добавленный тест до тех пор, пока пользователь не опубликует его, а возможность пройти тест появится только тогда, когда пользователь подтвердит его готовность на странице теста, на которую можно перейти из списка тестов пользователя либо из списка всех тестов. Неопубликованные тесты можно будет найти на странице тестов пользователя.</p>
<p>Новые категории тестов не будут отображаться на главной странице и на странице со списком категорий до тех пор, пока администратор сайта не подтвердит их.</p>
<p>Готовые для прохождения тесты *выделяются зеленым* цветом шрифта, а на странице со списком тестов текущего пользователя *отмечаются* как «готов для прохождения пользователями« и «не готов для прохождения пользователями».</p>
<p>Сайт адаптирован для мобильных устройств.</p>
<p>При прохождении тестов для вопросов на определение последовательности и вопросов на сопоставление присутствует возможность перетаскивания элементов, которая не работает на мобильных устройствах, однако на подобные вопросы можно ответить, заполняя соответствующие им поля, в которых следует перечислить в правильном порядке элементы последовательности либо элементы правого ряда сопоставления (левый ряд статичен, фиксирован).</p>
<p>Сайт адаптирован для мобильных устройств. Для работы сайта требуется, чтобы JavaScript не был отключен в браузере.</p>
{% endblock %}
