{% load staticfiles %}
{% load avatar_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Открытая онлайн система тематических пользовательских тестов">
        <meta name="author" content="Danil Cheltigmashev">
        <meta name="keywords" content="Тесты, тестирование, компьютерное тестирование, пользовательские тесты">

{% block title %}
{% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Neucha|Roboto+Mono&amp;subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'octapp/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'octapp/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'octapp/css/base.css' %}">

<!-- adding style of subtemplate -->
{% block page_style %}
{% endblock %}
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'octapp/js/jquery.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'octapp/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'octapp/js/jquery.nicescroll.min.js' %}"></script>

    </head>
    <body>
        <header>
          <div class="container">
            <div class="row flex">

              <div class="col-md-3 header_element hidden-xs hidden-sm header_element_1">
                <h2>OnlineCustomTesting</h2>
                <p>Открытая онлайн система<br>пользовательских тестов</p>
                <p class="text-right">Челтыгмашев Д., ХГУ, 2017</p>
              </div>

              <div class="col-md-3 col-sm-4 col-xs-6 header_element header_element_2">
                <div class="relative">
                <a href="{% url 'tests_lists' %}">
                    <span class="glyphicon glyphicon-home link_to_home" data-toggle="popover" data-trigger="hover" data-container="body" title="На главную" data-content="Щелкните, чтобы перейти на главную страницу со списками тестов.">
                    </span>
                </a>

                <!-- Small thumbnail of user's avatar for xs width of screen -->
{% if user.is_authenticated %}
                <div class="small_avatar_for_xs">
                    <a href="{% url 'avatar_change' %}" data-toggle="popover" data-trigger="hover" data-container="body" title="Аватар" data-content="Щелкните, чтобы изменить аватарку или удалить загруженные аватарки.">
{% avatar user class="small_custom_thumbnail" %}
                    </a>
                </div>
{% endif %}

                <h3>Поиск тестов</h3>
                <form name="search_form" id="search_form" action="{% url 'search' %}" method="GET">
                    <input name="search" required class="form-control" placeholder="Искать с совпадениями" type="search"></input>
                    <div class="search_buttons_div table center-block">
                        <div class="table_row">
                            <div class="table_cell">
                                <input name="search_type" class="not_displaying" value="search_in_tests_names" type="checkbox" class=""></input>
                                <button type="submit" class="btn btn-sm btn-default" role=submit>В названиях</button>
                            </div>
                            <div class="empty_gap_cell table_cell"></div>
                            <div class="table_cell">
                                <input name="search_type" class="not_displaying" value="search_in_questions" type="checkbox" class=""></input>                           
                                <button class="btn btn-sm btn-default">В вопросах</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
              </div>


              <div class="col-md-2 col-sm-4 col-xs-6 header_element hidden-xs header_element_3">
{% if user.is_authenticated %}
                <div class="center-block text-center user_container">
                    <small><span>Пользователь: {{ user.username|truncatechars:16 }}</span></small>
                    <div class="avatar_container center-block">
                        <a href="{% url 'avatar_change' %}" data-toggle="popover" data-trigger="hover" data-container="body" title="Аватар" data-content="Щелкните, чтобы изменить аватарку или удалить загруженные аватарки.">
{% avatar user class="custom_thumbnail" %}
                        </a>
                    </div>
                </div>
{% else %}
                <p>Вы в гостевом режиме.<br>Зарегистрируйтесь и/или войдите в систему для добавления тестов и просмотра статистики.</p>
{% endif %}
              </div>

              <div class="col-md-4 col-sm-4 col-xs-6 header_element header_element_4">
{% if user.is_authenticated %}
                <div class="table center-block authorized_user_buttons">
                    <div class="table_row">
                        <div class="table_cell">
                            <a href="{% url 'user_tests' pk=request.user.id %}" class="btn btn-default btn-sm" role="button">Ваши тесты</a>
                        </div>
                        <div class="table_cell">
                            <a href="{% url 'test_new' %}" class="btn btn-default btn-sm">Новый тест</a>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_cell">
                        <a href="{% url 'results' %}?filtering_by_exact_user={{ request.user.username }}" class="btn btn-default btn-sm" role="button">
                            Результаты</a>
                        </div>
                        <div class="table_cell">
                        <a href="{% url 'auth_logout' %}" class="btn btn-default btn-sm">Выйти</a>
                        </div>
                    </div>
                </div>
                <div class="admin_moder_button_container"><a href="{% url 'results' %}" class="btn btn-default btn-sm">Все результаты</a></div>
{% else %}
                <div class="authorization_div">
                    <form name="login_form" method="POST" action="{% url 'auth_login' %}">
{% csrf_token %}
                        <div class="table">
                            <div class="table_row">
                                <div class="table_cell">
                                    <label for="username">Логин:</label>
                                    <input name="username" type="text" class="form-control">
                                </div>
                                <div class="table_cell">
                                    <label for="password">Пароль:</label>
                                    <input name="password" type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="flex">
    <!-- "and form.password" needs for avoiding evaluating to true at registration fail -->
    {% if form.errors and form.password %}
                            <div><button type="submit" class="btn btn-default btn-sm" id="signin_button" data-toggle="popover" data-container="body" title="Что-то пошло не так..." data-content="Пожалуйста, введите правильные имя пользователя и пароль. Оба поля могут быть чувствительны к регистру.">Войти</button></div>
    {% else %}
                            <div><button type="submit" class="btn btn-default btn-sm">Войти</button></div>
    {% endif %}                     
                            <div><a href="{% url 'auth_password_reset' %}" class="btn btn-default btn-sm">Забыл(а) пароль</a></div>
                            <div><a href="{% url 'registration_register' %}" class="btn btn-default btn-sm">Регистрация</a></div>
                        </div>
                    </form>
                </div>
{% endif %}      
              </div> <!-- header_element end -->
            </div> <!-- row flex end -->
          </div> <!-- container end -->
        </header>

        <div class="content container">
{% block content %}
{% endblock %}
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <a href="{% url 'about' %}" class="btn btn-sm btn-default">О проекте</a>
                        <a href="" class="btn btn-sm btn-default">Демо-ролик</a>
                        <a href="{% url 'user_manual' %}" class="btn btn-sm btn-default">Инструкция пользователя</a>
                        <a href="{% url 'user_agreement_and_licenses' %}" class="btn btn-sm btn-default">Пользовательское соглашение и сведения о лицензиях</a>
                        <a href="mailto:danil.cheltigmashev@yandex.ru" class="btn btn-sm btn-default hidden-xs">Обратная связь</a>
                        <div class="general_statictics inline_block hidden-xs">
                            <span class="badge">Тестов: {{ all_tests_count }}</span>
                            <span class="badge">Категорий: {{ all_categories_count }}</span>
                            <span class="badge">Тегов: {{ all_tags_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    <script type="text/javascript">
        $(document).ready(function() {
            $("html").niceScroll({cursorcolor:"#000"});
            $('[data-toggle="popover"]').popover({
                // Установление направления отображения popover
                placement : 'bottom'
            });
            // Чтобы сразу после загрузки страницы показать сообщение о неудачной аутентификации
            $("#signin_button").popover('show');
            // Активация соответствующих кнопке checkbox’ов и отправка формы (hack...)
            $("#search_form button").click((event) => {
                $(event.target).prev().attr('checked', 'checked');
                $("#search_form").submit();
            });
        });
    </script>
    </body>
</html>
