{% extends 'octapp/list_with_pagination.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/sorting_and_pagination.css' %}">
<link rel="stylesheet" href="{% static 'octapp/css/tags_and_categories.css' %}">
{% endblock %}

{% block before_pagination %}
<h3 class="text-center">КАТЕГОРИИ ПО УБЫВАНИЮ КОЛИЧЕСТВА ТЕСТОВ</h3>
    {% for category, count_of_published_tests in some_page %}
        <a href="{% url 'tests' %}?selected_category={{ category.pk }}" class="tag_or_category">
            <span class="badge">
            {{ some_page.start_index|add:forloop.counter|add:"-1" }}. {{ category|truncatechars:50 }}, тестов — {{ count_of_published_tests }} шт.
            </span>
        </a>
    {% empty %}
    <hr>
    <h3>Нет категорий</h3>
    {% endfor %}
{% endblock %}
