{% extends 'octapp/list_with_pagination.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/questions_of_test.css' %}">
{% endblock %}

{% block before_pagination %}
<h2>Вопросы к тесту <q>{{ test }}</q></h2>

<h3 class="text-left">Добавить новый вопрос:</h3>
<div class="adding_questions_btns">
    <div class="dropdown inline_block add_closed_question_block">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default btn-lg">
            Закрытого типа
            <span class="caret"></span></button>

        <div aria-labelledby="dLabel" class="dropdown-menu">
        <form method="POST" action="{% url 'new_question' test_id=test.pk type='closed' %}">
    {% csrf_token %}
            <!-- Загрузка js-скриптов ckeditor-init.js, ckeditor.js.
            Для каждой из форм они будут одни и те же, поэтому
            нет необходимости загружать их для каждой формы. -->
    {{ closed_question_form.media }}

    {{ closed_question_form.question_content.label_tag }}
    {{ closed_question_form.question_content }}
            <small><p>NB! {{ closed_question_form.question_content.help_text }}</p></small>
    {% if closed_question_form.question_content.errors %}<p class="field_with_error">{{ closed_question_form.question_content.errors }}</p>{% endif %}

    {{ closed_question_form.correct_option_numbers.label_tag }}
    {{ closed_question_form.correct_option_numbers }}
            <small><p>NB! {{ closed_question_form.correct_option_numbers.help_text }}</p></small>
    {% if closed_question_form.correct_option_numbers.errors %}<p class="field_with_error">{{ closed_question_form.correct_option_numbers.errors }}</p>{% endif %}

    {{ closed_question_form.add_options.label_tag }}
    {{ closed_question_form.add_options }}
                <small><p>NB! {{ closed_question_form.add_options.help_text }}</p></small>
    {% if closed_question_form.add_options.errors %}<p class="field_with_error">{{ closed_question_form.add_options.errors }}</p>{% endif %}

            <input type="submit" value="Добавить вопрос" class="btn btn-block btn-default">
        </form>
        </div>
    </div>

    <div class="dropdown inline_block add_open_question_block">
        <button id="dLabe2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default btn-lg" data-toggle="dropdown">
            Открытого типа
            <span class="caret"></span></button>

        <div aria-labelledby="dLabe2" class="dropdown-menu">
        <form method="POST" action="{% url 'new_question' test_id=test.pk type='open' %}">
    {% csrf_token %}
            <label>Содержимое вопроса (в т.ч. текст) перед пропуском и после него:</label>
            <small><p>NB! Используйте кнопку «Источник», если хотите, чтобы пропуск и текст были в одном абзаце, т.е. не разрывались переносом строки.</p></small>
    {% for field in open_question_form %}
            <!-- Первые два поля — с CKEditor’ом. Не выводить последнее поле,
            т.к. при добавлении нового вопроса номер рассчитывается автоматически -->
        {% if not forloop.last %}
            {% if forloop.counter > 2 %}
                {{ field.label_tag }}
                {{ field }}
            {% else %}
            <div class="ckeditor_widget_or_textarea">{{ field }}</div>
            {% endif %}
        {% endif %}
        {% if field.errors %}<p class="field_with_error">{{ field.errors }}</p>{% endif %}
    {% endfor %}
            <input type="submit" value="Добавить вопрос" class="btn btn-block btn-default">
        </form>
        </div>
    </div>

    <div class="dropdown inline_block add_comparison_question_block">
        <button id="dLabe3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default btn-lg" data-toggle="dropdown">
            Сопоставление
            <span class="caret"></span></button>

        <div aria-labelledby="dLabe3" class="dropdown-menu">
        <form method="POST" action="{% url 'new_question' test_id=test.pk type='comparison' %}">
    {% csrf_token %}

    {{ comparison_question_form.comparison_question_content.label_tag }}
    {{ comparison_question_form.comparison_question_content }}
            <small><p>NB! {{ comparison_question_form.comparison_question_content.help_text }}</p></small>
    {% if comparison_question_form.comparison_question_content.errors %}<p class="field_with_error">{{ comparison_question_form.comparison_question_content.errors }}</p>{% endif %}

    {{ comparison_question_form.correct_sequence.label_tag }}
    {{ comparison_question_form.correct_sequence }}
            <small><p>NB! {{ comparison_question_form.correct_sequence.help_text }}</p></small>
            <small><p>NB! Порядок пар не имеет значения. При прохождении теста пользователю нужно будет перечислить все правильные пары без учета их порядка, чтобы ответ был расценен как правильный.</p></small>            
    {% if comparison_question_form.correct_sequence.errors %}<p class="field_with_error">{{ comparison_question_form.correct_sequence.errors }}</p>{% endif %}

    {{ comparison_question_form.add_comp_elements.label_tag }}
    {{ comparison_question_form.add_comp_elements }}
                <small><p>NB! {{ comparison_question_form.add_comp_elements.help_text }}</p></small>
    {% if comparison_question_form.add_comp_elements.errors %}<p class="field_with_error">{{ comparison_question_form.add_comp_elements.errors }}</p>{% endif %}            

            <input type="submit" value="Добавить вопрос" class="btn btn-block btn-default">
        </form>
        </div>
    </div>

    <div class="dropdown inline_block add_sequence_question_block">
        <button title="Вопрос на определение последовательности" id="dLabe4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default btn-lg" data-toggle="dropdown">
            Последовательность
            <span class="caret"></span></button>
        <div aria-labelledby="dLabe4" class="dropdown-menu">

        <form method="POST" action="{% url 'new_question' test_id=test.pk type='sequence' %}">
    {% csrf_token %}

    {{ sequence_question_form.sequence_question_content.label_tag }}
    {{ sequence_question_form.sequence_question_content }}
            <small><p>NB! {{ sequence_question_form.sequence_question_content.help_text }}</p></small>
    {% if sequence_question_form.sequence_question_content.errors %}<p class="field_with_error">{{ sequence_question_form.sequence_question_content.errors }}</p>{% endif %}

    {{ sequence_question_form.correct_sequence.label_tag }}
    {{ sequence_question_form.correct_sequence }}
            <small><p>NB! {{ sequence_question_form.correct_sequence.help_text }}</p></small>
    {% if sequence_question_form.correct_sequence.errors %}<p class="field_with_error">{{ sequence_question_form.correct_sequence.errors }}</p>{% endif %}

    {{ sequence_question_form.add_sequ_elements.label_tag }}
    {{ sequence_question_form.add_sequ_elements }}
                <small><p>NB! {{ sequence_question_form.add_sequ_elements.help_text }}</p></small>
    {% if sequence_question_form.add_sequ_elements.errors %}<p class="field_with_error">{{ sequence_question_form.add_sequ_elements.errors }}</p>{% endif %}                        

            <input type="submit" value="Добавить вопрос" class="btn btn-block btn-default">
        </form>
        </div>
    </div>
</div>
    <!-- В случае формы для элементов левого ряда сопоставления, то она будет в переменной option_or_element_form -->
    {% for qu_of_test, options_or_elements, form_for_editing_question, option_or_element_form, comparison_question_right_row_element_form in some_page %}
<div class="question">
    <!-- Кнопки для каждого вопроса -->
    <div class="question_buttons">

        <a href="{% url 'question_remove' test_id=test.pk question_of_test_id=qu_of_test.pk %}" title="Нажмите, чтобы удалить вопрос" class="glyphicon glyphicon-remove"></a>
    {% if qu_of_test.type_of_question != 'OpndQ' and options_or_elements %}
        {% if qu_of_test.type_of_question == 'CmprsnQ' %}
                {% if options_or_elements|first or options_or_elements|last %}
        <a href="{% url 'options_or_elements_of_question_remove_all' test_id=test.pk question_of_test_id=qu_of_test.pk %}" title="Нажмите, чтобы удалить все варианты ответа либо все элементы последовательности / рядов сопоставления" class="glyphicon glyphicon-trash"></a>
                {% endif %}
        {% else %}
        <a href="{% url 'options_or_elements_of_question_remove_all' test_id=test.pk question_of_test_id=qu_of_test.pk %}" title="Нажмите, чтобы удалить все варианты ответа либо все элементы последовательности / рядов сопоставления" class="glyphicon glyphicon-trash"></a>        
        {% endif %}
    {% endif %}

    {% if qu_of_test.type_of_question == 'ClsdQ' %}
    <div class="dropdown inline_block">
        <span title="Нажмите, чтобы добавить новые варианты ответа" id="dLabel5" class="glyphicon glyphicon-plus" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"></span>
        <div aria-labelledby="dLabel5" class="dropdown-menu add_new_options_or_elements">
        <form name="new_option_form" method="POST" action="{% url 'new_options_or_elements' test_id=test.pk question_of_test_id=qu_of_test.pk row='none' %}">
    {% csrf_token %}
    {{ option_or_element_form.option_number.label_tag }}
    {{ option_or_element_form.option_number }}
            <small><p>NB! {{ option_or_element_form.option_number.help_text }}</p></small>
    {% if option_or_element_form.option_number.errors %}<p class="field_with_error">{{ option_or_element_form.option_number.errors }}</p>{% endif %}

    {{ option_or_element_form.add_several.label_tag }}
    {{ option_or_element_form.add_several }}
            <div><small>NB! {{ option_or_element_form.add_several.help_text }}</small></div>
    {% if option_or_element_form.add_several.errors %}<p class="field_with_error">{{ option_or_element_form.add_several.errors }}</p>{% endif %}

            <div class="ckeditor_widget_or_textarea">
    {{ option_or_element_form.content.label_tag }}
    {{ option_or_element_form.content }}
            <small><p>NB! {{ option_or_element_form.content.help_text }}</p></small>
    {% if option_or_element_form.content.errors %}<p class="field_with_error">{{ option_or_element_form.content.errors }}</p>{% endif %}
            </div>
            <input type="submit" value="Добавить новый вариант ответа" class="btn btn-block btn-default">
        </form>
        </div>
    </div>
    {% endif %}

    {% if qu_of_test.type_of_question == 'SqncQ' %}
    <div class="dropdown inline_block">
        <span title="Нажмите, чтобы добавить новые элементы последовательности" id="dLabel5" class="glyphicon glyphicon-plus" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"></span>
        <div aria-labelledby="dLabel5" class="dropdown-menu add_new_options_or_elements">
        <form name="new_sequence_element_form" method="POST" action="{% url 'new_options_or_elements' test_id=test.pk question_of_test_id=qu_of_test.pk row='none' %}">
    {% csrf_token %}
    {{ option_or_element_form.element_index_number.label_tag }}
    {{ option_or_element_form.element_index_number }}
            <small><p>NB! {{ option_or_element_form.element_index_number.help_text }}</p></small>
    {% if option_or_element_form.element_index_number.errors %}<p class="field_with_error">{{ option_or_element_form.element_index_number.errors }}</p>{% endif %}

    {{ option_or_element_form.add_several.label_tag }}
    {{ option_or_element_form.add_several }}
            <div><small>NB! {{ option_or_element_form.add_several.help_text }}</small></div>
    {% if option_or_element_form.add_several.errors %}<p class="field_with_error">{{ option_or_element_form.add_several.errors }}</p>{% endif %}

            <div class="ckeditor_widget_or_textarea">
    {{ option_or_element_form.element_content.label_tag }}
    {{ option_or_element_form.element_content }}
            <small><p>NB! {{ option_or_element_form.element_content.help_text }}</p></small>
    {% if option_or_element_form.element_content.errors %}<p class="field_with_error">{{ option_or_element_form.element_content.errors }}</p>{% endif %}
            </div>
            <input type="submit" value="Добавить новый элемент последовательности" class="btn btn-block btn-default">
        </form>
        </div>
    </div>
    {% endif %}

    {% if qu_of_test.type_of_question == 'CmprsnQ' %}
    <div class="dropdown inline_block">
        <span title="Нажмите, чтобы добавить новые элементы левого ряда сопоставления" id="dLabel5" class="glyphicon glyphicon-hand-left" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"></span>
        <div aria-labelledby="dLabel5" class="dropdown-menu add_left_row_comparison_element">
        <form name="new_left_comparison_element_form" method="POST" action="{% url 'new_options_or_elements' test_id=test.pk question_of_test_id=qu_of_test.pk row='left' %}">
        {% csrf_token %}
            <label>Порядковый номер элемента левого ряда сопоставления:</label>
    {{ option_or_element_form.element_index_number }}
            <small><p>NB! {{ option_or_element_form.element_index_number.help_text }}</p></small>
    {% if option_or_element_form.element_index_number.errors %}<p class="field_with_error">{{ option_or_element_form.element_index_number.errors }}</p>{% endif %}

    {{ option_or_element_form.add_several.label_tag }}
    {{ option_or_element_form.add_several }}
            <div><small>NB! {{ option_or_element_form.add_several.help_text }}</small></div>
    {% if option_or_element_form.add_several.errors %}<p class="field_with_error">{{ option_or_element_form.add_several.errors }}</p>{% endif %}

            <div class="ckeditor_widget_or_textarea">
    {{ option_or_element_form.element_content.label_tag }}
    {{ option_or_element_form.element_content }}
            <small><p>NB! {{ option_or_element_form.element_content.help_text }}</p></small>
    {% if option_or_element_form.element_content.errors %}<p class="field_with_error">{{ option_or_element_form.element_content.errors }}</p>{% endif %}
            </div>
            <input type="submit" value="Добавить новый элемент левого ряда сопоставления" class="btn btn-block btn-default">
        </form>
        </div>
    </div>

    <div class="dropdown inline_block">
        <span title="Нажмите, чтобы добавить новые элементы правого ряда сопоставления" id="dLabel5" class="glyphicon glyphicon-hand-down" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"></span>
        <div aria-labelledby="dLabel5" class="dropdown-menu add_right_row_comparison_element">
        <form name="new_right_comparison_element_form" method="POST" action="{% url 'new_options_or_elements' test_id=test.pk question_of_test_id=qu_of_test.pk row='right' %}">
        {% csrf_token %}
            <label>Порядковый номер элемента правого ряда сопоставления:</label>
    {{ comparison_question_right_row_element_form.element_index_number }}
            <small><p>NB! {{ comparison_question_right_row_element_form.element_index_number.help_text }}</p></small>
    {% if comparison_question_right_row_element_form.element_index_number.errors %}<p class="field_with_error">{{ comparison_question_right_row_element_form.element_index_number.errors }}</p>{% endif %}

    {{ comparison_question_right_row_element_form.add_several.label_tag }}
    {{ comparison_question_right_row_element_form.add_several }}
            <div><small>NB! {{ comparison_question_right_row_element_form.add_several.help_text }}</small></div>
    {% if comparison_question_right_row_element_form.add_several.errors %}<p class="field_with_error">{{ comparison_question_right_row_element_form.add_several.errors }}</p>{% endif %}

            <div class="ckeditor_widget_or_textarea">
    {{ comparison_question_right_row_element_form.element_content.label_tag }}
    {{ comparison_question_right_row_element_form.element_content }}
            <small><p>NB! {{ comparison_question_right_row_element_form.element_content.help_text }}</p></small>
    {% if comparison_question_right_row_element_form.element_content.errors %}<p class="field_with_error">{{ comparison_question_right_row_element_form.element_content.errors }}</p>{% endif %}
            </div>
            <input type="submit" value="Добавить новый элемент правого ряда сопоставления" class="btn btn-block btn-default">
        </form>
        </div>
    </div>    
    {% endif %}

    <div class="dropdown inline_block">
        <span title="Нажмите, чтобы изменить вопрос" id="dLabel6" class="glyphicon glyphicon-edit" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"></span>

        {% if qu_of_test.type_of_question == 'ClsdQ' %}
        <div aria-labelledby="dLabel6" class="dropdown-menu edit_question edit_closed_question_block">
        <form name="closed_question_edit" method="POST" action="{% url 'question_edit' test_id=test.pk question_of_test_id=qu_of_test.pk %}">
    {% csrf_token %}

    {{ form_for_editing_question.question_content.label_tag }}
    {{ form_for_editing_question.question_content }}
            <small><p>NB! {{ form_for_editing_question.question_content.help_text }}</p></small>
    {% if form_for_editing_question.question_content.errors %}<p class="field_with_error">{{ form_for_editing_question.question_content.errors }}</p>{% endif %}

    {{ form_for_editing_question.correct_option_numbers.label_tag }}
    {{ form_for_editing_question.correct_option_numbers }}
    {% if form_for_editing_question.correct_option_numbers.errors %}<p class="field_with_error">{{ form_for_editing_question.correct_option_numbers.errors }}</p>{% endif %}

            <small><p>NB! {{ form_for_editing_question.correct_option_numbers.help_text }}</p></small>
            <hr>
    {{ form_for_editing_question.question_index_number.label_tag }}
    {{ form_for_editing_question.question_index_number }}
            <small><p>NB! {{ form_for_editing_question.question_index_number.help_text }}</p></small>
    {% if form_for_editing_question.question_index_number.errors %}<p class="field_with_error">{{ form_for_editing_question.question_index_number.errors }}</p>{% endif %}

            <input type="submit" value="Отправить новые данные (изменить вопрос)" class="btn btn-block btn-default">
        </form>
        </div>
        {% endif %}


        {% if qu_of_test.type_of_question == 'OpndQ' %}
        <div aria-labelledby="dLabe6" class="dropdown-menu edit_question edit_open_question_block">
        <form name="open_question_edit" method="POST" action="{% url 'question_edit' test_id=test.pk question_of_test_id=qu_of_test.pk %}">
    {% csrf_token %}

            <div class="ckeditor_widget_or_textarea">
    {{ form_for_editing_question.question_content_before_blank.label_tag }}
    {{ form_for_editing_question.question_content_before_blank }}
    {% if form_for_editing_question.question_content_before_blank.errors %}<p class="field_with_error">{{ form_for_editing_question.question_content_before_blank.errors }}</p>{% endif %}
            </div>

            <div class="ckeditor_widget_or_textarea">
    {{ form_for_editing_question.question_content_after_blank.label_tag }}
    {{ form_for_editing_question.question_content_after_blank }}
    {% if form_for_editing_question.question_content_after_blank.errors %}<p class="field_with_error">{{ form_for_editing_question.question_content_after_blank.errors }}</p>{% endif %}
            </div>

    {{ form_for_editing_question.correct_option.label_tag }}
    {{ form_for_editing_question.correct_option }}
    {% if form_for_editing_question.correct_option.errors %}<p class="field_with_error">{{ form_for_editing_question.correct_option.errors }}</p>{% endif %}


    {{ form_for_editing_question.question_index_number.label_tag }}
    {{ form_for_editing_question.question_index_number }}
            <small><p>NB! {{ form_for_editing_question.question_index_number.help_text }}</p></small>
    {% if form_for_editing_question.question_index_number.errors %}<p class="field_with_error">{{ form_for_editing_question.question_index_number.errors }}</p>{% endif %}

            <input type="submit" value="Отправить новые данные (изменить вопрос)" class="btn btn-block btn-default">
        </form>
        </div>
        {% endif %}


        {% if qu_of_test.type_of_question == 'SqncQ' %}
        <div aria-labelledby="dLabe6" class="dropdown-menu edit_question">
        <form name="sequence_question_edit" method="POST" action="{% url 'question_edit' test_id=test.pk question_of_test_id=qu_of_test.pk %}">
    {% csrf_token %}

    {{ form_for_editing_question.sequence_question_content.label_tag }}
    {{ form_for_editing_question.sequence_question_content }}
            <small><p>NB! {{ form_for_editing_question.sequence_question_content.help_text }}</p></small>
    {% if form_for_editing_question.sequence_question_content.errors %}<p class="field_with_error">{{ form_for_editing_question.sequence_question_content.errors }}</p>{% endif %}

    {{ form_for_editing_question.correct_sequence.label_tag }}
            <small><p>NB! {{ form_for_editing_question.correct_sequence.help_text }}</p></small>
    {{ form_for_editing_question.correct_sequence }}
    {% if form_for_editing_question.correct_sequence.errors %}<p class="field_with_error">{{ form_for_editing_question.correct_sequence.errors }}</p>{% endif %}

    {{ form_for_editing_question.question_index_number.label_tag }}
    {{ form_for_editing_question.question_index_number }}
            <small><p>NB! {{ form_for_editing_question.question_index_number.help_text }}</p></small>
    {% if form_for_editing_question.question_index_number.errors %}<p class="field_with_error">{{ form_for_editing_question.question_index_number.errors }}</p>{% endif %}

            <input type="submit" value="Отправить новые данные (изменить вопрос)" class="btn btn-block btn-default">
        </form>
        </div>
        {% endif %}


        {% if qu_of_test.type_of_question == 'CmprsnQ' %}
        <div aria-labelledby="dLabe6" class="dropdown-menu edit_question">
        <form name="comparison_question_edit" method="POST" action="{% url 'question_edit' test_id=test.pk question_of_test_id=qu_of_test.pk %}">
    {% csrf_token %}

    {{ form_for_editing_question.comparison_question_content.label_tag }}
    {{ form_for_editing_question.comparison_question_content }}
            <small><p>NB! {{ form_for_editing_question.comparison_question_content.help_text }}</p></small>
    {% if form_for_editing_question.comparison_question_content.errors %}<p class="field_with_error">{{ form_for_editing_question.comparison_question_content.errors }}</p>{% endif %}

    {{ form_for_editing_question.correct_sequence.label_tag }}
            <small><p>NB! {{ form_for_editing_question.correct_sequence.help_text }}</p></small>
    {{ form_for_editing_question.correct_sequence }}
    {% if form_for_editing_question.correct_sequence.errors %}<p class="field_with_error">{{ form_for_editing_question.correct_sequence.errors }}</p>{% endif %}

    {{ form_for_editing_question.question_index_number.label_tag }}
    {{ form_for_editing_question.question_index_number }}
            <small><p>NB! {{ form_for_editing_question.question_index_number.help_text }}</p></small>
    {% if form_for_editing_question.question_index_number.errors %}<p class="field_with_error">{{ form_for_editing_question.question_index_number.errors }}</p>{% endif %}

            <input type="submit" value="Отправить новые данные (изменить вопрос)" class="btn btn-block btn-default">
        </form>
        </div>
        {% endif %}

    </div> <!-- закрывающий для div.dropdown.inline_block -->
    </div> <!-- закрывающий для div.question_buttons -->

        {% if qu_of_test.type_of_question == 'ClsdQ' %}
    <p>Вопрос № {{ qu_of_test.question_index_number }} (закрытого типа), правильные варианты: <mark>{{ qu_of_test.closed_question.correct_option_numbers }}</mark></p>
        {{ qu_of_test.closed_question.question_content|safe }}
    <div class="closed_question_options_div">
            {% for closed_question_option in options_or_elements %}
        <div class="option_or_element">
            <span class="option_or_element_number_span">{{ closed_question_option.option_number }}. </span>
            <span class="option_or_element_content_span">{{ closed_question_option.content|safe }}</span>
        </div>
            {% empty %}
        <p>Вы еще не добавили вариантов ответа на этот вопрос.</p>
            {% endfor %}
    </div>
        {% endif %}

        {% if qu_of_test.type_of_question == 'OpndQ' %}
    <p>Вопрос № {{ qu_of_test.question_index_number }} (открытого типа), правильный ответ: <mark>{{ qu_of_test.open_question.correct_option }}</mark></p>
            {% spaceless %}
        {{ qu_of_test.open_question.question_content_before_blank|linebreaksbr }}
    <mark>__ПРОПУСК__</mark>
        {{ qu_of_test.open_question.question_content_after_blank|linebreaksbr }}
            {% endspaceless %}
        {% endif %}

        {% if qu_of_test.type_of_question == 'SqncQ' %}
    <p>Вопрос № {{ qu_of_test.question_index_number }} (последовательность), правильная последовательность: <mark>{{ qu_of_test.sequence_question.correct_sequence }}</mark></p>
        {{ qu_of_test.sequence_question.sequence_question_content|safe }}
    <div class="sequence_elements_div">
        {% for sequence_element in options_or_elements %}
        <div class="option_or_element inline_block">
            <span class="option_or_element_number_span">{{ sequence_element.element_index_number }}. </span>
            <span class="option_or_element_content_span">{{ sequence_element.element_content|safe }}</span>
        </div>
            {% empty %}
        <p>Вы еще не добавили элементы последовательности</p>
            {% endfor %}
    </div>
        {% endif %}

        {% if qu_of_test.type_of_question == 'CmprsnQ' %}
    <p>Вопрос № {{ qu_of_test.question_index_number }} (сопоставление), правильные пары элементов левого и правого столбцов (рядов) сопоставления: <mark>{{ qu_of_test.comparison_question.correct_sequence }}</mark></p>
        {{ qu_of_test.comparison_question.comparison_question_content|safe }}
    <div class="comparing_elements_div">
        <div class="row inline_block">
            {% for left_row_element in options_or_elements|first %}
            <div class="option_or_element">
                <span class="option_or_element_number_span">{{ left_row_element.element_index_number }}. </span>
                <span class="option_or_element_content_span">{{ left_row_element.element_content|safe }}</span>
            </div>
            {% empty %}
                    <span>Вы еще не добавили элементы <mark>левого ряда</mark> сопоставления</span>
            {% endfor %}
        </div>

        <div class="row inline_block">
            {% for right_row_element in options_or_elements|last %}
            <div class="option_or_element">
                <span class="option_or_element_number_span">{{ right_row_element.element_index_number }}. </span>
                <span class="option_or_element_content_span">{{ right_row_element.element_content|safe }}</span>
            </div>
            {% empty %}
                    <span>Вы еще не добавили элементы <mark>правого ряда</mark> сопоставления</span>
            {% endfor %}
            </div>
    </div>
        {% endif %}
</div> <!-- закрывающий для div.question -->

    {% empty %}
<p>Вы еще не добавили никаких вопросов для данного теста. Используйте кнопки, чтобы добавить новый вопрос, а затем варианты ответа к нему.</p>
    {% endfor %} <!-- цикл вывода вопросов и форм для их изменения -->

<script>
    $(document).ready (function() {
        $(".django-ckeditor-widget").css({"width" : "100%"});
    });
</script>


{% endblock %}
