{% extends 'octapp/base.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/questions_of_test.css' %}">
{% endblock %}

{% block content %}
<h2>Вопросы к тесту <q>{{ test }}</q></h2>

<h3 class="text-left">Добавить новый вопрос</h3>
<div class="adding_questions_btns">
    <div class="dropdown inline_block add_closed_question_block">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default btn-lg" data-toggle="dropdown">
            Закрытого типа
            <span class="caret"></span></button>

        <div aria-labelledby="dLabel" class="dropdown-menu">
        <form method="POST" action="{% url 'new_question' test_id=test.pk type='closed' %}">
    {% csrf_token %}
            <!-- Загрузка js-скриптов ckeditor-init.js, ckeditor.js.
            Для каждой из форм они будут одни и те же, поэтому
            нет необходимости загружать их для каждой формы. -->
    {{ closed_question_form.media }}

    {{ closed_question_form.question_content.label_tag }}
            <small><p>NB! {{ closed_question_form.question_content.help_text }}</p></small>
    {{ closed_question_form.question_content }}
    {% if closed_question_form.question_content.errors %}<p class="field_with_error">{{ closed_question_form.question_content.errors }}</p>{% endif %}

            <div class="inline_block">
    {{ closed_question_form.correct_option_numbers.label_tag }}
    {{ closed_question_form.correct_option_numbers }}
    {% if closed_question_form.correct_option_numbers.errors %}<p class="field_with_error">{{ closed_question_form.correct_option_numbers.errors }}</p>{% endif %}
            </div>

            <div class="inline_block">
    {{ closed_question_form.only_one_right }}
    {{ closed_question_form.only_one_right.label_tag }}
    {% if closed_question_form.only_one_right.errors %}<p class="field_with_error">{{ closed_question_form.only_one_right.errors }}</p>{% endif %}
            </div>

            <small><p>NB! {{ closed_question_form.correct_option_numbers.help_text }}</p></small>

            <input type="submit" value="Добавить вопрос" class="btn btn-block btn-default">
        </form>
        </div>
    </div>

    <div class="dropdown inline_block add_open_question_block">
        <button id="dLabe2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default btn-lg" data-toggle="dropdown">
            Открытого типа
            <span class="caret"></span></button>

        <div aria-labelledby="dLabel" class="dropdown-menu">
        <form method="POST" action="">
    {% csrf_token %}
        <label>Содержимое вопроса (в т.ч. текст) перед и после пропуска.</label>
    <small><p>NB! {{ open_question_form.question_content_before_blank.help_text }}</p></small>
    {% for field in open_question_form %}
        <!-- Первые два поля — с CKEditor’ом -->
        {% if forloop.counter > 2 %}
            {{ field.label_tag }}
            {{ field }}
        {% else %}
            <div class="ckeditor_widget">{{ field }}</div>
        {% endif %}
        {% if field.errors %}<p class="field_with_error">{{ field.errors }}</p>{% endif %}
    {% endfor %}
            <input type="submit" value="Добавить вопрос" class="btn btn-block btn-default">
        </form>
        </div>
    </div>

    <div class="dropdown inline_block add_comparison_question_block">
        <button id="dLabe3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default btn-lg" data-toggle="dropdown">
            На сопоставление
            <span class="caret"></span></button>

        <div aria-labelledby="dLabel" class="dropdown-menu">
        <form method="POST" action="">
    {% csrf_token %}

            <div>
    {{ comparison_question_form.comparison_question_content.label_tag }}
            <small><p>NB! {{ comparison_question_form.comparison_question_content.help_text }}</p></small>
    {{ comparison_question_form.comparison_question_content }}
    {% if comparison_question_form.comparison_question_content.errors %}<p class="field_with_error">{{ comparison_question_form.comparison_question_content.errors }}</p>{% endif %}
            </div>

            <div>
    {{ comparison_question_form.correct_sequence.label_tag }}
    {{ comparison_question_form.correct_sequence }}
            <small><p>NB! {{ comparison_question_form.correct_sequence.help_text }}</p></small>
    {% if comparison_question_form.correct_sequence.errors %}<p class="field_with_error">{{ comparison_question_form.correct_sequence.errors }}</p>{% endif %}
            </div>


            <input type="submit" value="Добавить вопрос" class="btn btn-block btn-default">
        </form>
        </div>
    </div>

    <div class="dropdown inline_block add_sequence_question_block">
        <button title="Вопрос на определение последовательности" id="dLabe4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default btn-lg" data-toggle="dropdown">
            Последовательность
            <span class="caret"></span></button>
        <div aria-labelledby="dLabel" class="dropdown-menu">

        <form method="POST" action="">
    {% csrf_token %}

            <div>
    {{ sequence_question_form.sequence_question_content.label_tag }}
            <small><p>NB! {{ sequence_question_form.sequence_question_content.help_text }}</p></small>
    {{ sequence_question_form.sequence_question_content }}
    {% if sequence_question_form.sequence_question_content.errors %}<p class="field_with_error">{{ sequence_question_form.sequence_question_content.errors }}</p>{% endif %}
            </div>

            <div>
    {{ sequence_question_form.correct_sequence.label_tag }}
    {{ sequence_question_form.correct_sequence }}
            <small><p>NB! {{ sequence_question_form.correct_sequence.help_text }}</p></small>
    {% if sequence_question_form.correct_sequence.errors %}<p class="field_with_error">{{ sequence_question_form.correct_sequence.errors }}</p>{% endif %}
            </div>

            <input type="submit" value="Добавить вопрос" class="btn btn-block btn-default">
        </form>
        </div>
    </div>
</div>

    {% for qu_of_test in questions_of_test %}
<div class="question">
    {% if qu_of_test.type_of_question == 'ClsdQ' %}
    <p>Вопрос № {{ qu_of_test.question_index_number }} (закрытого типа):</p>
    {{ qu_of_test.closed_question.question_content|safe }}
    {% endif %}

    {% if qu_of_test.type_of_question == 'OpndQ' %}
    <p>Вопрос № {{ qu_of_test.question_index_number }} (открытого типа):</p>
    {{ qu_of_test.sequence_question.question_content_before_blank|safe }}
    <mark>__ПРОПУСК__</mark>
    {{ qu_of_test.sequence_question.question_content_after_blank|safe }}
    {% endif %}

    {% if qu_of_test.type_of_question == 'SqncQ' %}
    <p>Вопрос № {{ qu_of_test.question_index_number }} (определение последовательности):</p>
    {{ qu_of_test.comparison_question.sequence_question_content|safe }}
    {% endif %}

    {% if qu_of_test.type_of_question == 'CmprsnQ' %}
    <p>Вопрос № {{ qu_of_test.question_index_number }} (сопоставление):</p>    
    {{ qu_of_test.comparison_question.comparison_question_content|safe }}
    {% endif %}
</div>

    {% empty %}
<p>Вы еще не добавили никаких вопросов для данного теста. Используйте кнопки, чтобы добавить новый вопрос, а затем варианты ответа к нему.</p>
    {% endfor %}

<script>
    $(document).ready (function() {
        $(".django-ckeditor-widget").css({"width" : "100%"});
    });
</script>


{% endblock %}




