{% extends 'octapp/base.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/test_passing.css' %}">
{% endblock %}

<style type="text/css">
    .sortContainer {border: 1px dashed orange;background-color: gray;width: auto;}
</style>

{% block content %}
<h2>ПРОХОЖДЕНИЕ ТЕСТА <a class="some_text_link" href="{% url 'test_detail' pk=test.pk %}"><q>{{ test|upper }}</q></a></h2>

    {% if test.controlling %}
<div class="passing_area">
    <script src="{% static 'octapp/js/test_controlling.js' %}"></script>
    <input type="text" value="Причина провала" class="hidden_form_element" name="fail_reason" id="fail_reason">
    {% endif %}

    <form id="answers_form" name="answers_form" method="POST" action="{% url 'test_passing_results' pk=test.pk %}">
    {% csrf_token %}

    {% if test.time_restricting %}
        <div class="hidden_form_element" id="timer_block"><span>У вас<br>осталось</span><br><span id="timer_span">{{ test.time_restricting }}</span> мин.
            <br><input class="form-control" min="0" type="text" value="{{ test.time_restricting }}" name="left_time" id="timer_input">
        </div>
        <script src="{% static 'octapp/js/test_passing_timing.js' %}"></script>
    {% endif %}

    {% for qu_of_test, options_or_elements in questions_and_options %}

        <div class="question" id="q{{ qu_of_test.question_index_number }}">

        {% if qu_of_test.type_of_question == 'ClsdQ' %}
            <p>Вопрос № {{ qu_of_test.question_index_number }} (закрытого типа)</p>
        {{ qu_of_test.closed_question.question_content|safe }}

            {% if not qu_of_test.closed_question.only_one_right %}
            <div class="closed_question_options_div closed_question_multiple">
            {% else %}
            <div class="closed_question_options_div">
            {% endif %}

            {% for closed_question_option in options_or_elements %}
                <div class="option_or_element">
                {% if qu_of_test.closed_question.only_one_right %}
                    <input type="radio" value="{{ closed_question_option.option_number }}" name="q{{ qu_of_test.question_index_number }}" id="q{{ qu_of_test.question_index_number }}o{{ closed_question_option.option_number }}">
                {% else %}
                    <input type="checkbox" value="{{ closed_question_option.option_number }}" id="q{{ qu_of_test.question_index_number }}o{{ closed_question_option.option_number }}">
                {% endif %}
                    <label for="q{{ qu_of_test.question_index_number }}o{{ closed_question_option.option_number }}">
                        <span class="option_or_element_number_span">{{ closed_question_option.option_number }}. </span>
                        <span class="option_or_element_content_span">{{ closed_question_option.content|safe }}</span>
                    </label>
                </div>
            {% empty %}
                <p>Вы еще не добавили вариантов ответа на этот вопрос.</p>
            {% endfor %}
            </div>
            <!-- Поскольку через POST отправляется лишь один из отмеченных для вопроса input'ов, с помощью js (test_passing.js)
            генерируется список отмеченных input'ов, который затем отправляется в приведенный ниже input -->
            {% if not qu_of_test.closed_question.only_one_right %}
            <input class="hidden_form_element" type="text" name="q{{ qu_of_test.question_index_number }}">
            {% endif %}

        {% elif qu_of_test.type_of_question == 'OpndQ' %}
            <p>Вопрос № {{ qu_of_test.question_index_number }} (открытого типа)</p>
            {% with qu_of_test.open_question.correct_option|length|add:"4" as correct_answer_length %}
            {% spaceless %}
                {{ qu_of_test.open_question.question_content_before_blank|linebreaksbr }}
            <input type="text" name="q{{ qu_of_test.question_index_number }}" maxlength="120" class="form-control" size="{{ correct_answer_length }}">
            {% endspaceless %}
            {% endwith %}
            {{ qu_of_test.open_question.question_content_after_blank|linebreaksbr }}

        {% elif qu_of_test.type_of_question == 'SqncQ' %}
            <p>Вопрос № {{ qu_of_test.question_index_number }} (последовательность)</p>
        {{ qu_of_test.sequence_question.sequence_question_content|safe }}
            <div class="sequence_elements_div sortContainer" title="Упорядочите (отсортируйте) элементы последовательности, перетаскивая их либо напрямую указывая их порядок в поле ниже.">
            {% for sequence_element in options_or_elements %}
                <div class="option_or_element" id="{{ sequence_element.element_index_number }}">
                    <span class="option_or_element_number_span">{{ sequence_element.element_index_number }}. </span>
                    <span class="option_or_element_content_span">{{ sequence_element.element_content|safe }}</span>
                </div>
            {% empty %}
                <p>Автор теста не добавил вариантов ответа на этот вопрос.</p>
            {% endfor %}
            </div>
            Можете указать непосредственный порядок элементов вручную: 
            <input class="form-control" type="text" pattern="(?:\d+(?:,\s)?)+" placeholder="Допустимы цифры, запятые и пробел в формате 1, 2, 3" id="q{{ qu_of_test.question_index_number }}" name="q{{ qu_of_test.question_index_number }}">

        {% else %}
            <p>Вопрос № {{ qu_of_test.question_index_number }} (сопоставление)</p>
        {{ qu_of_test.comparison_question.comparison_question_content|safe }}
            <div class="comparing_elements_div">
                <div class="row inline_block">
            {% for left_row_element in options_or_elements|first %}
                    <div class="option_or_element">
                        <span class="option_or_element_number_span">{{ left_row_element.element_index_number }}. </span>
                        <span class="option_or_element_content_span">{{ left_row_element.element_content|safe }}</span>
                    </div>
            {% empty %}
                    <span>Автор теста не добавил элементы <mark>левого ряда</mark> сопоставления</span>
            {% endfor %}
                </div>

                <div class="row inline_block sortContainer">
            {% for right_row_element in options_or_elements|last %}
                    <div class="option_or_element" id="{{ right_row_element.element_index_number }}">
                        <span class="option_or_element_number_span">{{ right_row_element.element_index_number }}. </span>
                        <span class="option_or_element_content_span">{{ right_row_element.element_content|safe }}</span>
                    </div>
            {% empty %}
                    <span>Автор теста не добавил элементы <mark>правого ряда</mark> сопоставления</span>
            {% endfor %}
                </div>
                Можете указать непосредственный порядок элементов правого столбца вручную: 
                <input class="form-control" type="text" pattern="(?:[0-9]*-[0-9]*(?:, )?)+" placeholder="Допустимы цифры, запятые и пробел в формате 1, 2, 3" id="q{{ qu_of_test.question_index_number }}" name="q{{ qu_of_test.question_index_number }}">
            </div>
        {% endif %}

        </div> <!-- закрывающий для div.question -->

    {% endfor %}

    <input type="submit" class="btn btn-default btn-block btn-lg" value="Получить результаты прохождения теста">
    </form>

    {% if test.controlling %}
</div>
    {% endif %}

<script src="{% static 'octapp/js/test_passing.js' %}"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
{% endblock %}
