{% extends 'octapp/base.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}

{% if test %}
<h2>РЕДАКТИРОВАНИЕ ТЕСТА <q>{{ test }}</q></h2>
{% else %}
<h2>ДОБАВЛЕНИЕ НОВОГО ТЕСТА</h2>
{% endif %}
<p>NB! Выберите категорию и тесты из уже предложенных либо добавьте новые. Если вы сделаете и то, и другое, то система не добавит новые, а будет использовать выбранное вами!</p>
<form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input type="submit" class="btn btn-default btn-lg">
</form>
{% endblock %}
