{% extends 'octapp/base.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/test_edit.css' %}">
{% endblock %}

{% block content %}

{% if test %}
<h2>РЕДАКТИРОВАНИЕ ТЕСТА <q>{{ test }}</q></h2>
{% else %}
<h2>ДОБАВЛЕНИЕ НОВОГО ТЕСТА</h2>
{% endif %}
<small>
    <p>NB! Выберите категорию и тесты из уже предложенных либо добавьте новые. Если вы сделаете и то, и другое, то система не добавит новые, а будет использовать выбранное вами!</p>
    <p>NB! Если вы введете уже существующий тег в поле для ввода новых тегов, то будет использован существующий.</p>
    <p>NB! При добавлении новых тегов используйте нижний регистр для первой буквы в целях единообразия. Например, новый тег. Однако, там, где слово пишется с заглавной буквы например, в случае тегов Земля или JavaScript — используйте заглавную.</p>
    <p>NB! Если вы не желаете указывать для теста какую-либо категорию, то не нужно добавлять новую категорию с именем «Без категории». Просто не выбирайте ее и не добавляйте новую.</p>
</small>
<form method="POST" action="">
    {% csrf_token %}
    {{ form.media }}
    
    <div class="container flex">
        
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
            <div class="form_field_div">
    {{ form.name.label_tag }}
    {{ form.name }}
    {% if form.name.errors %}<p class="field_with_error">Ошибка: {{ form.name.errors }}</p>{% endif %}
            </div>
        </div>
    
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
            <div class="form_field_div">
    {{ form.result_scale.label_tag }}
    {{ form.result_scale }}
    {% if form.category.errors %}<p class="field_with_error">Ошибка: {{ form.category.errors }}</p>{% endif %}    
            </div>
        </div>
        
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
            <div class="form_field_div">  
    {{ form.category.label_tag }}
    {{ form.category }}
    {% if form.category.errors %}<p class="field_with_error">Ошибка: {{ form.category.errors }}</p>{% endif %}
            </div>
        </div>


        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
            <div class="form_field_div">
    {{ form.new_category.label_tag }}
    {{ form.new_category }}
            </div>
        </div>


        <div class="form_row col-md-12 col-xs-12 col-lg-12 col-sm-12">
    {% if form.new_category.help_text %}<p>Пояснение: {% filter lower %}{{ form.new_category.help_text|safe }}{% endfilter %}</p>{% endif %}
    {% if form.new_category.errors %}<p class="field_with_error">Ошибка: {{ form.new_category.errors }}</p>{% endif %}
        </div>

    
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
            <div class="form_field_div">
                <div class="tag">
    {{ form.tags.label_tag }}
    {{ form.tags }}
    {% if form.tags.errors %}<p class="field_with_error">Ошибка: {{ form.tags.errors }}</p>{% endif %}
                </div>
            </div>
        </div>
        
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
            <div class="form_field_div">
    {{ form.new_tags.label_tag }}
    {{ form.new_tags }}
    {% if form.new_tags.errors %}<p class="field_with_error">Ошибка: {{ form.new_tags.errors }}</p>{% endif %}
            </div>
        </div>

        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
            <div class="form_field_div">
    {{ form.time_restricting.label_tag }}
    {{ form.time_restricting }}
    {% if form.time_restricting.errors %}<p class="field_with_error">Ошибка: {{ form.time_restricting.errors }}</p>{% endif %}
            </div>
        </div>



        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
            <label for="id_anonymous_loader">
                <div class="field_with_checkbox form_field_div">
    {{ form.anonymous_loader }}
                <span for="id_anonymous_loader">Анонимный тест. На странице теста не будет указан пользователь, который загрузил тест.</span>
    {% if form.anonymous_loader.errors %}<p class="field_with_error">Ошибка: {{ form.anonymous_loader.errors }}</p>{% endif %}
                </div>
            </label>
        </div>

    {% if not test.published_date %}
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
            <label for="id_publish_after_adding">
                <div class="field_with_checkbox form_field_div">
                <span>Опубликовать тест сразу после отправки (загрузки) либо редактирования теста.</span>
    {{ form.publish_after_adding }}
    {% if form.publish_after_adding.errors %}<p class="field_with_error">Ошибка: {{ form.publish_after_adding.errors }}</p>{% endif %}
                </div>
            </label>
        </div>
    {% endif %}

        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
            <label for="id_controlling">
                <div class="field_with_checkbox form_field_div">
    {{ form.controlling }}
                <span>Использование контроля прохождения теста.</span>
    {% if form.controlling.errors %}<p class="field_with_error">Ошибка: {{ form.controlling.errors }}</p>{% endif %}
                </div>
            </label>
        </div>

        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
            <div class="form_field_div">
    {{ form.description.label_tag }}
    {{ form.description }}
    {% if form.description.errors %}<p class="field_with_error">Ошибка: {{ form.description.errors }}</p>{% endif %}
            </div>
        </div>

        <input type="submit" class="btn btn-block btn-default btn-lg">
    </div>

</form>

<script>
    $(document).ready (function() {
        $(".django-ckeditor-widget").css({"width" : "100%"});
    });
</script>


{% endblock %}
