{% extends 'octapp/base.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/tests_lists_style.css' %}">
{% endblock %}

{% block content %}
<div class="row flex">
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href=""><h2>ТЕСТЫ ПО КАТЕГОРИЯМИ</h2></a>
        <div>
        <a href="" class="category"><span class="badge">Обществознание (XXX штук)</span></a>
        <a href="" class="category"><span class="badge">Базы данных(XXX штук)</span></a>
        <a href="" class="category"><span class="badge">Психология (XXX штук)</span></a>
        <a href="" class="category"><span class="badge">Биология (XXX штук)</span></a>
        <a href="" class="category"><span class="badge">Иностранные языки(XXX штук)</span></a>
        <a href="" class="category"><span class="badge">История (XXX штук)</span></a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href=""><h2>ТЕСТЫ ПО ТЕГАМ</h2></a>
        <div>
        <a href="" class="tag"><span class="badge">Образовательные (XXX штук)</span></a>
        <a href="" class="tag"><span class="badge">Небольшие (XXX штук)</span></a>
        <a href="" class="tag"><span class="badge">Большие (XXX штук)</span></a>
        <a href="" class="tag"><span class="badge">Отношения (XXX штук)</span></a>
        <a href="" class="tag"><span class="badge">Для школьников (XXX штук)</span></a>
        <a href="" class="tag"><span class="badge">Для студентов (XXX штук)</span></a>
        <a href="" class="tag"><span class="badge">Развлекательные (XXX штук)</span></a>
        <a href="" class="tag"><span class="badge">На 10-15 минут (XXX штук)</span></a>
        <a href="" class="tag"><span class="badge">На 20-30 минут (XXX штук)</span></a>
        <a href="" class="tag"><span class="badge">С лимитом времени (XXX штук)</span></a>
        <a href="" class="tag"><span class="badge">Без лимита времени (XXX штук)</span></a>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href=""><h2>НОВЫЕ ТЕСТЫ</h2></a>
    {% if left_number_of_new_tests_list and right_number_of_new_tests_list %}
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
                    {% for test in left_number_of_new_tests_list %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test }}</span></div></a>
                    {% endfor %}
                </div>
                <div class="table_cell">
                    {% for test in right_number_of_new_tests_list %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test }}</span></div></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <!-- Если правого ряда новых тестов нет, то помещать тесты в 1 ячейку таблицы -->
        {% if left_number_of_new_tests_list and not right_number_of_new_tests_list %}
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
                    {% for test in left_number_of_new_tests_list %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test }}</span></div></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <!-- Если даже левого ряда нет -->        
        <h4>Нет тестов</h4>
        {% endif %}        
    {% endif %}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href=""><h2>ПОПУЛЯРНЫЕ ТЕСТЫ</h2></a>
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
                    <a class="link_to_test"><div class="test_div"><span class="name_of_test">Анатомия человека</span></div></a>
                    <a class="link_to_test"><div class="test_div"><span class="name_of_test">Тест по географии</span></div></a>
                    <a class="link_to_test"><div class="test_div"><span class="name_of_test">Тест на тип темперамента</span></div></a>
                    <a class="link_to_test"><div class="test_div"><span class="name_of_test">Парадигмы программирования</span></div></a>
                </div>
                <div class="table_cell">
                    <a class="link_to_test"><div class="test_div"><span class="name_of_test">Философия буддизма</span></div></a>
                    <a class="link_to_test"><div class="test_div"><span class="name_of_test">Тест по кулинарии</span></div></a>
                    <a class="link_to_test"><div class="test_div"><span class="name_of_test">Сети и телекоммуникации</span></div></a>
                    <a class="link_to_test"><div class="test_div"><span class="name_of_test">Информационные системы и технологии</span></div></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}