{% extends 'octapp/list_with_filtering_and_pagination.html' %}
{% load staticfiles %}

{% block title %}
<title>OnlineCustomTesting: список тестов</title>
{% endblock %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/sorting_and_pagination.css' %}">
<link rel="stylesheet" href="{% static 'octapp/css/tests.css' %}">
{% endblock %}

{% block before_filtering_and_sorting %}

    {% if search and search_type %}
        <h3>Результаты поиска
    {% if search_type == 'search_in_questions' %}
        тестов по совпадению в вопросах по запросу «{{ search }}»</h3>
    {% endif %}
    {% if search_type == 'search_in_tests_names' %}
        тестов по совпадению в их именах по запросу «{{ search }}»</h3>
    {% endif %}
        <p>NB! При подсчете количества тестов для тегов и категорий в полях фильтрации поиск не учитывается, а выводится общее количество опубликованных тестов с каким-либо тегом либо категорией</p>
    {% endif %}

    {% if sorting == "rating_desc" and not search %}
<h2 class="text-center">ТЕСТЫ ПО УБЫВАНИЮ РЕЙТИНГА</h2>
    {% elif sorting == "published_date_desc" and not search %}
<h2 class="text-center">ТЕСТЫ ПО ДАТЕ ПУБЛИКАЦИИ (СНАЧАЛА НОВЫЕ)</h2>
    {% elif sorting == "name_asc" and not search %}
<h2 class="text-center">ТЕСТЫ ПО АЛФАВИТУ</h2>
    {% elif not search %}
<h2 class="text-center">ТЕСТЫ ПО АЛФАВИТУ</h2>
    {% endif %}

    {% if selected_category == "unconfirmed"  %}
<h3 class="text-left">С неподтвержденными категориями</h3>
    {% elif selected_category == "null"  %}
<h3 class="text-left">Без категории</h3>
    {% elif selected_category == "any"  %}
<h3 class="text-left">С любыми категориями</h3>
    {% elif selected_category  %}
<h3 class="text-left">Категория — <q>{{ selected_category_object }}</q></h3>
    {% endif %}

    {% if selected_tag == "null"  %}
<h3 class="text-left">Без тегов</h3>
    {% elif selected_tag == "any"  %}
<h3 class="text-left">С любыми тегами</h3>
    {% elif selected_tag  %}
<h3 class="text-left">С тегом <q>{{ selected_tag_object }}</q></h3>
    {% endif %}

{% endblock %}

{% block categories_options_for_filtering %}
    {% for category, count in categories_and_count_of_published_tests_in_them %}
        {% if category.pk == selected_category_object.pk %}
                <option value="{{ category.pk }}" selected>{{ category|truncatechars:50 }} — {{ count }} шт.</option>
        {% else %}
                <option value="{{ category.pk }}">{{ category|truncatechars:50 }} — {{ count }} шт.</option>
        {% endif %}
    {% endfor %}
{% endblock %}


{% block tags_options_for_filtering %}
    {% for tag, count in tags_and_count_of_published_tests_in_them %}
        {% if tag.pk == selected_tag_object.pk %}
                <option value="{{ tag.pk }}" selected>{{ tag|truncatechars:50 }} — {{ count }} шт. (без учета категории)</option>
        {% else %}
                <option value="{{ tag.pk }}">{{ tag|truncatechars:50 }} — {{ count }} шт. (без учета категории)</option>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block after_last_field_of_filtering_form %}
    <!-- 2 скрытых поля для того, чтобы при отправке формы не потерять данные о поиске -->
    <input type="text" name="search" value="{{ search }}" class="not_displaying">
    <input type="text" name="search_type" value="{{ search_type }}" class="not_displaying">    
{% endblock %}

{% block after_filtering_and_sorting %}

    {% for test in some_page %}
    <div class="test_wrapper inline_block">
        <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test">
            <div class="test_div">
                {% if test.ready_for_passing %}
                <span class="name_of_test ready_test">{{ some_page.start_index|add:forloop.counter|add:"-1" }}. {{ test|truncatechars:50 }}, рейтинг: {{ test.rating }}</span>
                {% else %}
                <span class="name_of_test">{{ some_page.start_index|add:forloop.counter|add:"-1" }}. {{ test|truncatechars:50 }}, рейтинг: {{ test.rating }}</span>
                {% endif %}
            </div>
        </a>
    </div>
    {% empty %}
    <hr>
    <h3>Нет таких тестов</h3>
    {% endfor %}

{% endblock %}
