{% extends 'octapp/base.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<h2>ТЕСТ «{{ test.name|upper }}»</h2>

<h3 class="text-left">Данный тест загрузил {{ test.author }}</h4>

<h3 class="text-left">Описание теста</h4>
{{ test.description|safe }}

    {% if test.controlling %}
<h3 class="text-left">Для данного теста задано использование контроля прохождения</h4>
    {% else %}
<h3 class="text-left">Для данного теста не задано использование контроля прохождения</h4>    
    {% endif %}

    {% if test.time_restricting %}
<h3 class="text-left">Для данного теста установлено ограничение времени прохождения</h4>
    {% else %}
<h3 class="text-left">Данный тест — без ограничения на время прохождения</h4>    
    {% endif %}

<h3 class="text-left">Рейтинг теста: {{ test.rating }}</h4>

<h3 class="text-left">Дата добавления теста в систему</h4>
{{ test.created_date }}<br>

    {% if test.published_date %}
<h3 class="text-left">Дата публикации — {{ test.published_date }}</h4>
    {% else %}
    <h3 class="text-left">Данный тест еще не опубликован пользователем {{ test.author }}</h4>
    {% endif %}

<h3 class="text-left">Теги теста</h4>
    {% for tag in test.tags.all %}
<span>|{{ tag }}</span>
    {% empty %}
<p>Для данного теста какие-либо теги не назначены пользователем {{ test.author }} :(</p>
    {% endfor %}

    {% if is_author or request.user.is_staff %}
<h2>Управление тестом</h2>
<a href="{% url 'test_edit' pk=test.pk %}" class="btn btn-default btn-lg">Изменить тест</a>
<a class="btn btn-default btn-lg">Добавить вопрос</a>
    {% endif %}

    {% if not is_author or request.user.is_staff and not request.user.is_superuser %}
    Вы не автор теста, но вы относитесь к персоналу сайта, поэтому вам также доступен данный функционал.
    {% endif %}

    {% if is_author or request.user.is_superuser %}
    Вы не автор теста, но являетесь суперпользователем, поэтому вам также доступен данный функционал.
    {% endif %}

    {{ request.user.get_all_permissions }}


{% endblock %}
