{% extends 'octapp/base.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/tests_lists_style.css' %}">
{% endblock %}

{% block content %}
<div class="row flex">
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href=""><h2>ТЕСТЫ ПО КАТЕГОРИЯМИ</h2></a>
        <div>
            <a href="" class="category"><span class="badge">Тесты с неподтвержденными категориями ({{ tests_count_of_unconf_cat }} шт.)</span></a>            
    {% for category in categories %}
            <a href="" class="category"><span class="badge">{{ category }} ({{ category.tests.count }} шт.)</span></a>
    {% empty %}
        <h4>Нет таких тестов</h4>
    {% endfor %}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href=""><h2>ТЕСТЫ ПО ТЕГАМ</h2></a>
        <div>
    {% for tag in tags %}
            <a href="" class="tag"><span class="badge">{{ tag }} ({{ tag.tests.count }} шт.)</span></a>
    {% empty %}
        <h4>Нет таких тестов</h4>
    {% endfor %}
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href=""><h2>НОВЫЕ ТЕСТЫ</h2></a>
    {% if left_number_of_new_tests_list and right_number_of_new_tests_list %}
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
        {% for test in left_number_of_new_tests_list %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:60 }}</span></div></a>
        {% endfor %}
                </div>
                <div class="table_cell">
        {% for test in right_number_of_new_tests_list %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:60 }}</span></div></a>
        {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <!-- Если правого ряда новых тестов нет, то помещать тесты в 1 ячейку таблицы -->
        {% if left_number_of_new_tests_list and not right_number_of_new_tests_list %}
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
            {% for test in left_number_of_new_tests_list %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:60 }}</span></div></a>
            {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <!-- Если даже левого ряда нет -->        
        <h4>Нет тестов</h4>
        {% endif %}        
    {% endif %}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href=""><h2>РЕЙТИНГОВЫЕ ТЕСТЫ</h2></a>
    {% if left_number_of_popular_tests and right_number_of_popular_tests %}
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
        {% for test in left_number_of_popular_tests %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:60 }}</span></div></a>
        {% endfor %}
                </div>
                <div class="table_cell">
        {% for test in right_number_of_popular_tests %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:60 }}</span></div></a>
        {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <!-- Если правого ряда новых тестов нет, то помещать тесты в 1 ячейку таблицы -->
        {% if left_number_of_popular_tests and not right_number_of_popular_tests %}
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
            {% for test in left_number_of_popular_tests %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:60 }}</span></div></a>
            {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <!-- Если даже левого ряда нет -->        
        <h4>Нет таких тестов</h4>
        {% endif %}        
    {% endif %}
    </div>
</div>
{% endblock %}