{% extends 'octapp/base.html' %}
{% load staticfiles %}
{% load avatar_tags humanize %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/test_detail.css' %}">
{% endblock %}

{% block content %}

<div class="test_block">

    <h2>ТЕСТ <q>{{ test.name|upper }}</q></h2>

    {% if is_author or request.user.is_superuser or perms.octapp.test.can_change %}
    <div class="dropdown test_description_element test_description_element_with_buttons">

        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default btn-lg">
            Управление тестом
            <span class="caret"></span>
        </button>
        
        <div aria-labelledby="dLabel" class="dropdown-menu">
                
        {% if is_author %}
            <p>Вы, как тот, кто загрузил данный тест, можете:</p>
            <a href="{% url 'questions_of_test' test_id=test.pk %}" class="btn btn-default">Просмотреть/редактировать<br> вопросы и/или добавить новые</a>
            <a href="" class="btn btn-default">Поделиться ссылкой<br>на тест в соцсетях</a>    
            {% if not test.published_date %}
            <a href="{% url 'test_publish' pk=test.pk through_user_tests='False' %}" class="btn btn-default btn-lg">Опубликовать</a>
            {% else %}
            <a href="{% url 'test_unpublish' pk=test.pk through_user_tests='False' %}" class="btn btn-default btn-lg">Снять с публикации</a>            
            {% endif %}

            {% if not test.ready_for_passing %}
            <a href="{% url 'test_make_ready_for_passing' pk=test.pk %}" class="btn btn-default btn-lg">Подтвердить готовность</a>
            {% endif %}
            <a href="{% url 'test_remove' pk=test.pk through_user_tests='False' %}" class="btn btn-default btn-lg">Удалить</a>
            <a href="{% url 'test_edit' pk=test.pk %}" class="btn btn-default btn-lg">Изменить</a>
        {% endif %}
        
        {% if not is_author and request.user.is_superuser %}
            <p>Вы, как суперпользователь, можете:</p><br>
            {% if not test.published_date %}
            <a href="{% url 'test_publish' pk=test.pk through_user_tests='False' %}" class="btn btn-default btn-lg">Опубликовать</a>
            {% else %}
            <a href="{% url 'test_unpublish' pk=test.pk through_user_tests='False' %}" class="btn btn-default btn-lg">Снять с публикации</a>            
            {% endif %}
            <a href="{% url 'test_remove' pk=test.pk through_user_tests='False' %}" class="btn btn-default btn-lg">Удалить</a>
        {% endif %}

            <hr><p>NB! После того, как вы закончите добавление вопросов к тесту и вариантов ответа к ним, подтвердите готовность теста, используя кнопку ниже. Только после подтверждения готовности будет доступна возможность прохождения вашего тест вами и другими пользователями.</p>
        </div>
    </div>
    {% endif %}

        <div class="test_description_element">
    {% if not test.anonymous_loader %}
            <p class="text-left">Загрузил: <mark>{{ test.author }}</mark></p>
    {% else %}
            <p class="text-left">Тест добавлен анонимно</p>
    {% endif %}
        </div>

        <div class="test_description_element">
    {% if test.category %}
        {% if test.category.confirmed %}
            <p class="text-left">Категория — <mark><q>{{ test.category }}</q></mark></p>
        {% else %}
            <p class="text-left">Категория — <q>{{ test.category }} (еще не подтверждена)</q></p>
        {% endif %}
    {% else %}
            <p class="text-left">Без категории</p>
    {% endif %}
        </div>

        <div class="test_description_element">
    {% if test.controlling %}
            <p class="text-left">Без контроля прохождения</p>
    {% else %}
            <p class="text-left">С контролем прохождения</p>    
    {% endif %}
        </div>

        <div class="test_description_element">
    {% if test.time_restricting %}
            <p class="text-left">Лимит времени прохождения — <mark>{{ test.time_restricting }} мин.</mark></p>
    {% else %}
            <p class="text-left">Без ограничения на время прохождения</p>
    {% endif %}
        </div>

        <div class="test_description_element">
    {% if test.show_answers %}
            <p class="text-left">После прохождения <mark>отображаются</mark> ответы</p>
    {% else %}
            <p class="text-left">После прохождения <mark>ответы не отображаются</mark></p>    
    {% endif %}
        </div>

        <div class="test_description_element">
    {% if test.single_passing %}
            <p class="text-left">Результат прохождения сохраняется только <mark>один раз</mark></p>
    {% else %}
            <p class="text-left">Результат прохождения сохраняется <mark>многократно</mark></p>
    {% endif %}
        </div>

        <div class="test_description_element">
    {% if test.only_registered_can_pass %}
            <p class="text-left">Прохождение доступно только <mark>авторизованным</mark> пользователям</p>
    {% else %}
            <p class="text-left">Прохождение доступно <mark>всем пользователям</mark></p>
    {% endif %}
        </div>

        <div class="test_description_element">
            <p class="text-left">Рейтинг: <mark>{{ test.rating }}</mark></p>
        </div>

        <div class="test_description_element">        
            <p class="text-left">Добавлен <mark>{{ test.created_date }}</mark></p>
        </div>

        <div class="test_description_element">
    {% if test.published_date %}
            <p class="text-left">Опубликован <mark>{{ test.published_date }}</mark></p>
    {% else %}
            <p class="text-left">Тест еще не опубликован
    {% endif %}
        </div>

    {% if already_passed %}
        <div class="test_description_element">
            <p class="text-left">Вы <mark>уже проходили</mark> данный тест</p>
        </div>
    {% endif %}

    {% if can_pass %}
        <div class="test_description_element test_description_element_with_buttons">
            <a href="{% url 'test_passing' pk=test.pk %}" class="btn btn-default start_passing_btn">Приступить к прохождению</a>
        </div>
    {% else %}
        <div class="test_description_element">
            <p class="text-left">Тест еще <mark>не готов</mark> для прохождения</p>
        </div>
    {% endif %}

    {% if user.is_authenticated and not rate_of_current_user %}
        <div class="test_description_element test_description_element_with_buttons">
    <a href="{% url 'review' test_id=test.id user_rate='dislike' %}" class="btn btn-default voting_btn">-1 к рейтингу</a>
    <a href="{% url 'review' test_id=test.id user_rate='like' %}" class="btn btn-default voting_btn">+1 к рейтингу</a>
        </div>
    {% endif %}

    {% if rate_of_current_user %}
        <div class="test_description_element">    
    Вы оценили тест
        {% if rate_of_current_user.like %}
                <mark>положительно</mark><br>
        {% else %}
                <mark>отрицательно</mark><br>
        {% endif %}
        </div>
    {% endif %}

    <hr>
    <p class="text-left">Теги:
    {% for tag in test.tags.all %}
        <a href="{% url 'tests' %}?selected_tag={{ tag.pk }}" class="tag_or_category">
            <span class="badge">
                <span class="bullet">&#8226;|</span> {{ tag|truncatechars:50 }}
            </span>
        </a>
    {% empty %}
    <p>Ракие-либо теги не назначены :(</p>
    {% endfor %}
    </p>
    <hr>

    <h3>Описание</h3>
    {{ test.description|safe }}

    <hr>
    {% if test.rates.all %}
    <p>Этот тест оценили:</p>
        {% for rate in test.rates.all %}
            {% if forloop.last and forloop.first or forloop.last %}
    <p class="inline_block">{{ rate }}.</p>
            {% elif not forloop.last %}
    <p class="inline_block">{{ rate }}, </p>        
            {% endif %}
        {% endfor %}
    {% else %}
    <p>Данный тест еще никто не оценил</p>    
    {% endif %}

</div> <!-- div.test_block ends here -->

<br><h2>Комментарии к тесту</h2>

    {% if user.is_authenticated %}
<div class="dropdown new_comment_dropdown">
    <button id="dLabe2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default btn-lg">
        <span>Добавить новый </span> 
        <span class="caret"></span>
    </button>
    
    <div aria-labelledby="dLabe2" class="dropdown-menu new_comment_dropdown_menu">
        <form method="POST" action="{% url 'comment_new' pk=test.pk %}">
    {% csrf_token %}
    {{ comment_form.media }}
    {{ comment_form.content.label_tag }}
    <br>
    <div>{{ comment_form.content }}</div>
    {% if comment_form.content.errors %}<p class="field_with_error">Ошибка: {{ comment_form.content.errors }}</p>{% endif %}
        <input type="submit" class="btn btn-default btn-lg btn-block" value="Добавить">
        </form>
    </div>
</div>
<hr>
    {% else %}
    <p>Зарегистрируйтесь и войдите в систему, чтобы добавлять комментарии.</p>
    {% endif %}

<script>
    $(document).ready(function() {
        $(".django-ckeditor-widget").css({"width" : "100%"});
    });
</script>

    {% for comment in test.comments.all %}
    <div class="comment">
        <div class="author_username title_font">{{ comment.author.username }}{% if comment.author == test.author %}, загрузивший данный тест{% endif %}</div>
        <div class="author_avatar">{% avatar comment.author class="scaled_custom_thumbnail" %}</div>        
        <div class="comment_date">{{ comment.created_date }}, {{ comment.created_date|naturaltime }}</div>
        
        <div class="comment_content">
            {{ comment.content|safe }}
        </div>
    </div>
    {% empty %}
    <p>Комментариев пока нет.</p>
    {% endfor %} 

{% endblock %}
