{% extends 'octapp/base.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/tests_lists.css' %}">
{% endblock %}

{% block content %}
<div class="row flex">
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href="{% url 'categories' %}"><h2>КАТЕГОРИИ ТЕСТОВ</h2></a>
        <div>
            <a href="{% url 'tests' %}?selected_category=unconfirmed" class="tag_or_category"><span class="badge">Тесты с неподтвержденными категориями ({{ count_of_published_tests_with_unconf_cat }} шт.)</span></a>
            <a href="{% url 'tests' %}?selected_category=null" class="tag_or_category"><span class="badge">Тесты без категории ({{ count_of_tests_without_category }} шт.)</span></a>            
    {% for category, count_of_published_tests in showing_categories_and_count_of_published_tests %}
            <a href="{% url 'tests' %}?selected_category={{ category.pk }}" class="tag_or_category"><span class="badge">{{ category|truncatechars:35 }} ({{ count_of_published_tests }} шт.)</span></a>
    {% empty %}
        <h4>Нет категорий</h4>
    {% endfor %}
        {% if show_elision_marks_for_categories %}
            <hr>
            <span title="Здесь перечислены не все категории. Откройте ссылку-заголовок выше, чтобы посмотреть все." class="badge">...</span>
        {% endif %}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href="{% url 'tags' %}"><h2>ТЕГИ</h2></a>
        <div>
            <a href="{% url 'tests' %}?selected_tag=null" class="tag_or_category"><span class="badge">Тесты без тегов ({{ count_of_tests_without_tags }} шт.)</span></a>            
    {% for tag, count_of_published_tests in showing_tags_and_count_of_published_tests %}
            <a href="{% url 'tests' %}?selected_tag={{ tag.pk }}" class="tag_or_category"><span class="badge">{{ tag|truncatechars:35 }} ({{ count_of_published_tests }} шт.)</span></a>
    {% empty %}
        <h4>Нет тегов</h4>
    {% endfor %}
        {% if show_elision_marks_for_tags %}
            <hr>
            <span title="Здесь перечислены не все теги. Откройте ссылку-заголовок выше, чтобы посмотреть все." class="badge">...</span>
        {% endif %}
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href="{% url 'tests' %}?sorting=published_date_desc"><h2>НОВЫЕ ТЕСТЫ</h2></a>
    {% if left_number_of_new_tests_list and right_number_of_new_tests_list %}
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
        {% for test in left_number_of_new_tests_list %}
            {% if test.ready_for_passing %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test ready_test">{{ test|truncatechars:50 }}</span></div></a>
            {% else %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:50 }}</span></div></a>
            {% endif %}
        {% endfor %}
                </div>
                <div class="table_cell">
        {% for test in right_number_of_new_tests_list %}
            {% if test.ready_for_passing %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test ready_test">{{ test|truncatechars:50 }}</span></div></a>
            {% else %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:50 }}</span></div></a>
            {% endif %}
        {% endfor %}
                </div>
            </div>
        </div>
        {% if show_elision_marks_for_tests %}
            <hr>
            <span title="Здесь перечислены не все тесты. Откройте ссылку-заголовок выше, чтобы посмотреть все." class="badge">...</span>
        {% endif %}
    {% else %}
        <!-- Если правого ряда новых тестов нет, то помещать тесты в 1 ячейку таблицы -->
        {% if left_number_of_new_tests_list and not right_number_of_new_tests_list %}
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
            {% for test in left_number_of_new_tests_list %}
                {% if test.ready_for_passing %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test ready_test">{{ test|truncatechars:50 }}</span></div></a>
                {% else %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:50 }}</span></div></a>
                {% endif %}
            {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <!-- Если даже левого ряда нет -->        
        <h4>Нет таких тестов</h4>
        {% endif %}        
    {% endif %}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 tests_list">
        <a href="{% url 'tests' %}?sorting=rating_desc"><h2>РЕЙТИНГОВЫЕ ТЕСТЫ</h2></a>
    {% if left_number_of_rating_tests and right_number_of_rating_tests %}
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
        {% for test in left_number_of_rating_tests %}
            {% if test.ready_for_passing %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test ready_test">{{ test|truncatechars:50 }}</span></div></a>
            {% else %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:50 }}</span></div></a>
            {% endif %}
        {% endfor %}
                </div>
                <div class="table_cell">
        {% for test in right_number_of_rating_tests %}
            {% if test.ready_for_passing %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test ready_test">{{ test|truncatechars:50 }}</span></div></a>
            {% else %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:50 }}</span></div></a>
            {% endif %}
        {% endfor %}
                </div>
            </div>
        </div>
        {% if show_elision_marks_for_tests %}
            <hr>
            <span title="Здесь перечислены не все тесты. Откройте ссылку-заголовок выше, чтобы посмотреть все." class="badge">...</span>
        {% endif %}
    {% else %}
        <!-- Если правого ряда новых тестов нет, то помещать тесты в 1 ячейку таблицы -->
        {% if left_number_of_rating_tests and not right_number_of_rating_tests %}
        <div class="table">
            <div class="table_row">
                <div class="table_cell">
            {% for test in left_number_of_rating_tests %}
                {% if test.ready_for_passing %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test ready_test">{{ test|truncatechars:50 }}</span></div></a>
                {% else %}
                    <a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test"><div class="test_div"><span class="name_of_test">{{ test|truncatechars:50 }}</span></div></a>
                {% endif %}
            {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <!-- Если даже левого ряда нет -->        
        <h4>Нет таких тестов</h4>
        {% endif %}        
    {% endif %}
    </div>
</div>
{% endblock %}