{% extends 'octapp/base.html' %}

{% block title %}
<title>OnlineCustomTesting: пользовательское соглашение и лицензии</title>
<style type="text/css">
    .content a {text-decoration: underline !important; color: blue !important}
    .content a:hover {color: orange !important}
    .content p {margin-bottom: 8px !important}
    .content ul li {list-style: disc inside !important}
</style>
{% endblock %}

{% block content %}

<h3>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ И ПРАВИЛА РАБОТЫ С СИСТЕМОЙ</h3>
<p>Используя систему OnlineCustomTesting (далее Сайт), Вы подтверждаете, что прочитали, поняли и согласны соблюдать настоящее Соглашение об использовании (далее - Соглашение). Администрация Сайта (далее - Администрация) оставляет за собой право изменять и дополнять настоящее Соглашение в любое время без предварительного и/или последующего уведомления Пользователя. Администрация публикует изменения и дополнения в Соглашении на данной странице, Вы обязуетесь самостоятельно следить за изменениями и дополнениями, вносимыми Администрацией в Соглашение.</p>
<p>В случае Вашего несогласия с условиями, указанными в нижеприведенных пунктах, Вы должны немедленно отказаться от использования этого веб-сайта и покинуть его страницы.</p>
<p>Администрация сайта не несет никакой ответственности за размещение пользователями материалов экстремистского характера, материалов, разжигающих межнациональную и межрелигиозную ненависть, оскорбляющих чувства верующих.</p>
<p>Пользователь самостоятельно несет ответственность за соответствие содержания размещаемых Пользователем тестов, файлов и любой другой информации (далее Контент) на Сайте требованиям действующего законодательства, включая ответственность перед третьими лицами в случаях, когда размещение Пользователем того или иного контента или содержание контента нарушает права и законные интересы третьих лиц.</p>
<p>Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия, связанные с использованием сервисов, в том числе, если такие действия приведут к нарушению прав и законных интересов третьих лиц, а также за соблюдение законодательства при использовании сервисов.</p>
<p>Кроме своего собственного Контента, Пользователь не вправе загружать Контент других сайтов, баз данных и прочих объектов исключительных прав при отсутствии явным образом выраженного согласия правообладателя на такие действия.</p>
<p>Сайт и все сервисы Сайта, предоставляются «Как есть», Вы используете службы Сайта на Ваш собственный риск. Администрация не принимает на себя никакой ответственности, в том числе и за соответствие наших сервисов целям конечного Пользователя.</p>
<p>Администрация не несет ответственности за любые прямые или косвенные убытки, ущерб компьютеру пользователя или иного лица, произошедшие из-за использования либо невозможности использования Сайта.</p>
<p>Администрация не гарантирует, что сервисы и доступ к Сайту будут предоставляться непрерывно, быстро, надежно и без ошибок.</p>
<p>Вы обязуетесь не размещать на сайте материалы, которые относятся к одной или нескольким перечисленным ниже категориям:</p>
<ul>
    <li>расизм;</li>
    <li>материалы 18+;</li>
    <li>материалы о наркотических веществах;</li>
    <li>материалы об изготовлении оружия;</li>
    <li>материалы, пропагандирующие расовую, религиозную, национальную или иную ненависть;</li>
    <li>материалы, оскорбляющие религиозные чувства.</li>
</ul>
<h3>СВЕДЕНИЯ О ЛИЦЕНЗИРОВАНИИ ИСПОЛЬЗУЕМЫХ КОМПОНЕНТОВ</h3>
<p>Шрифты <a href="https://fonts.google.com/specimen/Roboto+Condensed">Roboto Condensed</a> и <a href="https://fonts.google.com/specimen/Roboto+Mono">Roboto Mono</a>
Copyright [Roboto Condensed font, Roboto Mono font] [Christian Robertson]
<a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License версии 2.0</a></p>

<p><a href="https://fonts.google.com/specimen/Neucha">Шрифт Neucha</a>
Лицензия: <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL_web">Open Font License</a></p>

<p>Используется django-приложение «django-registration» с <a href="https://github.com/ubernostrum/django-registration/blob/master/LICENSE">BSD-подобной лицензией</a></p>
<p>Фреймворк django, <a href="https://github.com/django/django/blob/master/LICENSE">модифицированная лицензия BSD (BSD 3-clause "New" or "Revised" License)</a></p>

{% endblock %}
