{% extends 'octapp/base.html' %}
{% load staticfiles %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'octapp/css/single_test.css' %}">
{% endblock %}

{% block content %}
<h2>СПИСОК ЗАГРУЖЕННЫХ ВАМИ ТЕСТОВ В АЛФАВИТНОМ ПОРЯДКЕ</h2>
<h3 class="text-left">Опубликованные тесты</h3>
    {% for test in published_user_tests %}
<a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test" title="Открыть страницу теста">
    <div class="test_div">№ {{ forloop.counter }}.
        <span class="name_of_test">{{ test }}</span>
        <a href="{% url 'test_edit' pk=test.pk %}" title="Редактировать тест" class="edit_test_icon glyphicon glyphicon-pencil"></a>
        <a href="{% url 'test_remove_from_user_tests' pk=test.pk %}" title="Удалить тест" class="edit_test_icon glyphicon glyphicon-remove"></a>    
    </div>
</a>
    {% empty %}
        У вас еще нет тестов — вы еще не добавили ни один тест.
    {% endfor %}
<hr>
<h3 class="text-left">Неопубликованные тесты</h3>
    {% for test in unpublished_user_tests %}
<a href="{% url 'test_detail' pk=test.pk %}" class="link_to_test" title="Открыть страницу теста">
    <div class="test_div">№ {{ forloop.counter }}.
        <span class="name_of_test">{{ test }}</span>
        <a href="{% url 'test_edit' pk=test.pk %}" title="Открыть страницу теста" class="edit_test_icon glyphicon glyphicon-pencil"></a>
        <a href="{% url 'test_remove_from_user_tests' pk=test.pk %}" title="Открыть страницу теста" class="edit_test_icon glyphicon glyphicon-remove"></a>   
    </div>
</a>
    {% empty %}
        У вас еще нет тестов — вы еще не добавили ни один тест.
    {% endfor %}
{% endblock %}
